
/* ---------------------------------------------- Breadcrumbs */
#breadcrumbs {
    padding-top: $col-vertical-margin;
}

#breadcrumbs a:after {
    content: "/";
    display: inline-block;
    margin: 0 0.5rem;
    color: $p-color;
}
