// .button {
//     display: inline-block;
//     padding: 8px 16px;
//     font-size: 12px;
//     font-weight: bold;
//     color: #d9534f;
//     text-transform: uppercase;
//     background-color: transparent;
//     border: 1px solid #d9534f;
//     transition: all 0.3s ease-in-out;

//     &:hover {
//         background-color: #d9534f;
//         color: #fcfcfc;
//     }
// }


/* ---------------------------------------------- Buttons */

.black-button,
.default-input-button {
    margin-top: $p-margin;
    padding: 1.2rem 2rem;
    font-family: $title-font;
    font-size: 2rem;
    line-height: 2rem;
    color: #fff;
    background-color: $buttons-bg-color;
    border: none;
    cursor: pointer;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.black-button:hover,
.default-input-button:hover {
    color: #fff;
    background-color: $link-color;
}

.prev-a:before {
    content: "\f104";
    display: inline-block;
    margin-right: 1rem;
    font-family: FontAwesome;
}

.read-more:after,
.next-a:after {
    content: "\f105";
    display: inline-block;
    margin-left: 1rem;
    font-family: FontAwesome;
}

.load-more {
    font-weight: bold;
    color: $secondary-link-color;
}

.load-more:before {
    content: "\f067";
    display: inline-block;
    margin-right: 1rem;
    font-family: FontAwesome;
}

.load-more.show:before {
    content: "\f068";
}

.link-button {
    margin-left: 1rem;
}

.white-button {
    margin-top: $p-margin;
    padding: 1.2rem 2rem;
    font-family: $title-font;
    font-size: 1.6rem;
    line-height: 1.6rem;
    border: 1px solid #fff;
    cursor: pointer;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border 0.2s ease-in-out;
}

.white-button:hover {
    border: 1px solid $main-color;
}

.light-button {
    margin-top: $p-margin;
    padding: 1.2rem 2rem;
    font-family: $title-font;
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: #000;
    border: 1px solid #000;
    cursor: pointer;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border 0.2s ease-in-out;
}

.light-button:hover {
    color: $main-color;
    border: 1px solid $main-color;
}


/* Form Social Buttons */

.social-button a {
    padding: 1rem 2rem;
    width: 100%;
    color: #fff;
}

.social-button {
    transition: background-color 0.2s ease-in-out;
}

.social-button.facebook {
    background-color: #3b5998;
}

.social-button.twitter {
    background-color: #4099FF;
}

.social-button:hover {
    background-color: $main-color;
}

.social-button a i {
    margin-right: 1rem;
}
