/* ---------------------------------------------- Farbtastic */

#color-picker {
    width: 100%;
    text-align: center;
}

#picker {
    width: 100%;
    text-align: center;
    margin-bottom: $col-vertical-margin;
}

.colorwell {
    border: 1px solid #fff;
    width: 6em;
    text-align: center;
    cursor: pointer;
}

body .colorwell-selected {
    border: $main-border;
    font-weight: bold;
}

.farbtastic {
    position: relative;
    margin: 0 auto;
}

.farbtastic * {
    position: absolute;
    cursor: crosshair;
}

.farbtastic,
.farbtastic .wheel {
    width: 195px;
    height: 195px;
}

.farbtastic .wheel {
    background-image: url(../img/wheel.png);
    background-repeat: no-repeat;
    width: 195px;
    height: 195px;
}

.farbtastic .color,
.farbtastic .overlay {
    top: 47px;
    left: 47px;
    width: 101px;
    height: 101px;
}

.farbtastic .overlay {
    background-repeat: no-repeat;
}

.farbtastic .marker {
    width: 17px;
    height: 17px;
    margin: -8px 0 0 -8px;
    overflow: hidden;
    background-image: url(../img/marker.png);
    background-repeat: no-repeat;
}
