/* ---------------------------------------------- Featured Section */

.featured-section-item {
    position: relative;
    align-items: center;
}

.featured-section-item-txt {
    display: flex;
    align-items: center;
    align-self: stretch;
    padding: calc(#{$col-horizontal-padding} * 2);
    background-color: #fff;
}

.slider-dots {
    width: 100%;
    margin-top: $col-vertical-margin;
    display: flex;
}

.slider-dots-dot {
    height: 1rem;
    width: 1rem;
    margin: 0.5rem;
    border-radius: 100%;
    background-color: #ccc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
}

.slider-dots-dot:hover {
    background-color: $main-color;
    border: 1px solid $main-color;
}

.slider-dots-dot:first-child {
    margin-left: 0;
}

.slider-dots-dot:last-child {
    margin-right: 0;
}

.current-slide-dot {
    background-color: $title-color;
}

.slider-prev-button,
.slider-next-button {
    position: absolute;
    top: calc(50% - 2.5rem);
    font-size: 5rem;
    line-height: 100%;
    padding: 2rem;
    cursor: pointer;
    opacity: 0;
    transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.slider-prev-button:hover,
.slider-next-button:hover {
    color: $main-color;
}

.slider-prev-button {
    left: 0;
    transform: translateX(-100%);
}

.slider-next-button {
    right: 0;
    transform: translateX(100%);
}

.featured-section-item:hover .slider-prev-button,
.featured-section-item:hover .slider-next-button {
    opacity: 1;
}
