/* Info Box */

.info-box-container {
    width: calc(100% + 1rem);
    margin: -0.5rem;
    margin-top: calc(#{$col-vertical-margin} - 0.5rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.info-box-item {
    border: 5px solid #fff;
}

.info-box-item-1 {
    width: $one-half-col-width;
    background-color: blue;
}

.info-box-col {
    width: $one-half-col-width;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
}

.info-box-item-2,
.info-box-item-3,
.info-box-item-4,
.info-box-item-5 {
    width: 50%;
    background-color: yellow;
}

.info-box-txt {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    transition: background-color 0.2s ease-in-out;
}

.info-box-txt:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.info-box-txt>div {
    position: relative !important;
    height: unset !important;
    max-width: 40rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info-box-icon {
    height: 6rem;
    width: 6rem;
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-size: 2rem !important;
    color: #fff;
    border-radius: 100%;
    border: 1px solid #fff;
}

.info-box-title {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
}

.info-box-title>a,
.info-box-txt>div p {
    color: #fff;
}
