// Loaders overlay (Page / Modal)
#loader-body,
.test-prefixer {
    user-select: none;
}

#loader-body,
#loader-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 75px;
    height: 75px;
    margin: -34.5px 0 0 -37.5px;
    border: 8px solid #ececec;
    border-radius: 50%;
    border-top: 8px solid #333333;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader-body {
    position: fixed;
    z-index: 99999;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */
.content-loader {
    position: relative;
    opacity: 0;
}

// deactivate all input/button behaviour during loading
.content-loader.loading-content,
.content-loader.loading-content * {
    pointer-events: none !important;
    cursor: default !important;
    user-select: none !important;
}

.content-loader.content-loaded {
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
    opacity: 1;
}

@-webkit-keyframes animatebottom {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
