/* ---------------------------------------------- Newsletter */

#newsletter {
    background-color: $newsletter-bg-color;
}

.newsletter-txt {
    padding-bottom: $col-vertical-padding;
}

#newsletter p {
    color: $newsletter-p-color;
}

#newsletter a {
    color: $newsletter-link-color;
}

#newsletter a:hover {
    color: $newsletter-link-hover-color;
}

#newsletter form textarea,
#newsletter form input[type="text"],
#newsletter form input[type="email"] {
    width: 100%;
    background-color: $newsletter-input-bg-color !important;
}
