/* ---------------------------------------------- Pagination */

.pagination {
    width: 100%;
    padding-top: $col-vertical-padding;
    padding-bottom: $col-vertical-padding;
    text-align: center;
}

.pagination p,
.pagination a,
.pagination span {
    padding: 0 0.5rem;
}

.pagination a.disabled{
    pointer-events: none;
    font-weight: normal;
    color: #888;
}