#payoff-container {
    position: relative;
    display: block;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    width: 66.66%;
    padding: 0 40px;
    overflow: hidden;
    background-color: $main-color;
}

#payoff-container i {
    position: absolute;
    padding-top: $main-menu-link-vertical-padding;
    padding-bottom: $main-menu-link-vertical-padding;
    padding-left: $main-menu-link-horizontal-padding;
    padding-right: $main-menu-link-horizontal-padding;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

#payoff-container .payoff-prev {
    left: 0;
    top: 5px;
}

#payoff-container .payoff-next {
    right: 0;
    top: 5px;
}

.payoff {
    padding-left: $main-menu-link-horizontal-padding;
    padding-right: $main-menu-link-horizontal-padding;
    text-align: center;
    overflow: hidden;
}

.payoff p {
    overflow: hidden;
}

.payoff a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.payoff a,
#payoff-container i {
    color: #fff;
}

.payoff a:hover,
#payoff-container i:hover {
    color: $link-hover-color;
}

#payoff-container p {
    margin: 0;
    color: $title-color;
    height: 100%;
    vertical-align: middle;
    line-height: 2.7;
}
