/* ---------------------------------------------- Post Navigation */

#post-nav {
    margin-top: -1px;
    border-top: $main-border;
    border-bottom: $main-border;
}

#post-nav .col {
    display: flex;
    margin-bottom: 0;
}

#post-nav .prev {
    padding-left: 0;
    justify-content: flex-start;
    text-align: left;
}

#post-nav .prev .default-sheet-col {
    align-items: flex-start;
    text-align: left;
}

#post-nav .next {
    padding-right: 0;
    justify-content: flex-end;
    text-align: right;
}

#post-nav .next .default-sheet-col {
    align-items: flex-end;
    text-align: right;
}

#post-nav .default-sheet-col h3 {
    margin: 0;
}

#post-nav .default-sheet-col h3 a {
    color: $title-color;
}
