/* ---------------------------------------------- Range Slider */

.range-slider {
    width: 100%;
    position: relative;
}

.range-slider .default-sheet-row {
    justify-content: flex-end;
}

.range-slider .default-sheet-row-cell input[type=number] {
    margin: 0;
    flex-grow: 1;
}

.range-slider .default-sheet-row:last-child {
    margin-bottom: 0;
}

.range-slider select {
    margin: 0;
}

.range-slider input[type=range] {
    left: 0;
    bottom: 0;
    margin: 1rem 0;
}

.range-slider input[type=range] {
    --webkit-appearance: none;
    width: 100%;
}

.range-slider input[type=range]:focus {
    outline: none;
}

.range-slider input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.6rem;
    cursor: pointer;
    animate: 0.2s;
    background: #e5e5e5;
    border-top: 1px solid #ccc;
}

.range-slider input[type=range]::-webkit-slider-thumb {
    z-index: 10;
    position: relative;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    background: #fff;
    cursor: pointer;
    --webkit-appearance: none;
    margin-top: -0.8rem;
}
