#header-search {
    display: $header-search-display;
    width: 100%;
}

#header-search .boxed-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#header-search-container {
    width: 33.33%;
    display: flex;
}

#main-header form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: unset;
}

#main-header input[type="search"],
#main-header form select {
    max-width: 100%;
    margin: 0;
    padding-left: $main-menu-link-horizontal-padding;
    padding-right: $main-menu-link-horizontal-padding;
    padding-top: $main-menu-link-vertical-padding;
    padding-bottom: $main-menu-link-vertical-padding;
    font-family: $p-font;
    font-size: $p-font-size;
    line-height: $p-line-height;
    font-weight: normal;
    color: $title-color;
    border: $form-input-border;
    background-color: $form-input-bg;
    visibility: visible !important;
    -webkit-appearance: none;
}

#main-header form input {
    flex-grow: 1;
}

#main-header form select {
    width: unset;
    margin: 0;
    background-color: #fff;
    border-top: $main-border;
    border-bottom: $main-border;
}


.header-search-accordion {
    height: 0px;
    overflow: hidden;
    color: #222;
    width: 100%;
    position: relative;
    transition: all 0.4s ease-in-out;
}

.header-search-accordion * {
    transition: all 0.4s ease-in-out;
}

.header-search-accordion.active-search {
    height: 184px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.header-search-accordion {
    top: 37px;
    background: #fcfcfc;
    left: 0;
    right: 0;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0px 10px 10px 10px;
    padding: 0;
    width: 100%;
    position: relative;
    margin-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#header-search .boxed-container {
    position: relative;
}

@media (min-width: $screen-sm-min) {
    .header-search-accordion {
        position: absolute;
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
    }
}

.header-search-accordion-toggle h4 {
    font-size: 14px;
    border-bottom: 2px solid transparent;
    display: inline-block;
}

.header-search-accordion-toggle.active h4 {
    border-bottom: 2px solid #222;
}

.header-search-accordion .spacer {
    padding-left: 10px;
    padding-right: 10px;
}

.header-search-accordion a {
    color: #222;
}

.header-search-accordion .img-result {
    height: 60px;
    width: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid silver;
}

.header-search-accordion .text-result {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
}

.header-search-accordion-toggle {
    font-size: 14px;
    display: inline-block;
    width: 32%;
    position: relative;
}

#result {
    position: absolute;
    width: 100%;
    max-width: 870px;
    max-width: none;
    cursor: pointer;
    overflow-y: auto;
    max-height: 400px;
    box-sizing: border-box;
    z-index: 1001;
}

.link-class:hover {
    background-color: #f1f1f1;
}

.header-search-accordion-toggle {
    cursor: pointer;
}

.header-search-accordion-content {
    display: inline-block;
    opacity: 0.2;
    width: 32%;
    position: relative;
    vertical-align: top !important;
}

.header-search-accordion-content.active {
    opacity: 1;
}

#search-results .header-search-accordion-content ul {
    display: block;
    width: 100%;
    position: relative;
}

#search-results ul li {
    display: block;
}

#artists-result-count,
#galleries-result-count,
#categories-result-count {
    color: $main-color !important;
}

#search::selection {
    background: $twine;
}

#search-results {
    display: inline-block;
    width: 100%;
    position:relative;
}

#search-results * {
    vertical-align: text-top
}