/* ---------------------------------------------- Gallery */
.gallery {
    overflow: hidden;
}

.gallery:before {
    content: "\f002";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: FontAwesome;
    font-size: 3rem;
    color: $gallery-icon-color;
    background-color: $gallery-overlay-color;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.gallery:hover:before {
    opacity: 1;
    transform: translateY(0);
}

/* ---------------------------------------------- Items Slider */

.default-slider-section {
    padding-top: $slider-vertical-padding;
    padding-bottom: $slider-vertical-padding;
}

.slider-border .boxed-container:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: $main-border-color;
    transform: translateY($slider-vertical-padding);
}

.slider-item-txt h1,
.slider-item-txt h2,
.slider-item-txt h3,
.slider-item-txt h4,
.slider-item-txt h5,
.slider-item-txt h6,
.default-slider-header p,
.slider-item-txt p {
    margin: 0;
}

.default-slider-header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.slider-item {
    position: relative;
    margin-top: $col-vertical-margin;
    margin-bottom: $col-vertical-margin;
    transition: width 0.3s ease-in-out, margin 0.3s ease-in-out;
}

.slider-item-txt {
    margin-top: calc(#{$col-vertical-margin} / 2);
}

.slider-item-row {
    align-items: center;
    justify-content: space-between;
}

.slider-item-txt h3 {
    font-size: $p-font-size;
    line-height: $p-line-height;
}

.slider-item-txt h2 {
    font-size: $h4-font-size;
    line-height: $h4-line-height;
}

#recent-viewed-slider {
    background-color: #eee;
}

#recent-viewed-slider .slider-item {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.event-date {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    margin-bottom: 0.5rem;
    background-color: $main-color;
}

#featured-section .event-date {
    display: inline-block !important;
}

.slider-item .event-date {
    margin-top: 0.5rem;
}

.event-date p {
    color: #fff;
}

.on-going-ticket {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -1.5rem;
    margin-right: 1.5rem;
    padding: 1rem 2rem;
    background-color: $secondary-link-color;
    z-index: 10;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.on-going-ticket h4 {
    margin: 0;
    color: #fff;
}

.slider-title-box {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    transition: width 0.3s ease-in-out, margin 0.3s ease-in-out;
}

.slider-title-span {
    display: block;
}

.slider-title-box-txt {
    width: 100%;
    z-index: 2;
}

.slider-title-box-txt h1:after {
    display: block;
    content: "";
    height: 0.3rem;
    width: 6rem;
    background-color: $main-color;
    margin-top: 1rem;
}

.slider-title-drop-caps {
    position: absolute;
}

.slider-title-drop-caps h6 {
    text-transform: uppercase;
    font-size: 36rem;
    font-weight: bold;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    opacity: 0.1 !important;
}

// .my-gallery-thumb-row {
//     width: calc(70% + 1rem);
//     margin: 0.5rem 0 0 -0.5rem;
//     justify-content: center;
// }

.my-gallery-thumb-row {
    width: calc(100% + 1rem);
    margin: 0.5rem 0 0 -0.5rem;
    justify-content: left;
}

.my-gallery-thumb-row .one-third-col {
    width: calc(33.33% - 1rem) !important;
    margin: 0.5rem;
}

.add-item {
    position: absolute;
    margin: 1rem;
    padding: 1rem;
    top: 0;
    right: 0;
    color: #fff;
    z-index: 10;
    cursor: pointer;
    font-weight: normal;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    transition: color 0.2s ease-in-out, border 0.2s ease-in-out;
}

.add-item:hover {
    color: $secondary-link-color;
}

.add-item.active {
    color: $secondary-link-color;
}

.add-item.active:hover {
    color: #fff;
}

#user-tabs .add-item {
    display: none !important;
}