/* ---------------------------------------------- Tab */

.tab-menu {
    position: relative;
    padding-right: calc(#{$col-horizontal-padding} * 2);
    align-self: flex-start;
    transition: margin-top 0.2s ease-in-out;
    z-index: 20;
}

.tab-menu ul {
    margin: 0;
    padding: 0;
}

.tab-menu li,
.tab-menu a {
    list-style: none;
    font-family: $title-font;
    font-size: $h5-font-size;
    line-height: 150%;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    font-weight: normal;
    color: $p-color;
}

.tab-menu li:hover,
.tab-menu a:hover {
    color: $link-color;
}

.tab-menu>ul>li {
    margin: 0.5rem 0;
}

.tab-menu>ul>li:first-child {
    margin-top: 0;
}

.tab-menu>ul>li.current-tab-item,
.tab-menu>ul>li.current-tab-item>a {
    font-weight: bold;
    color: $title-color;
}

.tab-menu li ul {
    display: none;
    margin-left: 2rem;
}

.tab-menu li ul li a {
    font-size: $p-font-size;
    line-height: $p-line-height;
}

.current-tab-item>ul.show {
    display: block;
}

.tab-container .col {
    margin-top: 0;
    padding-top: 0;
}


/* Content */

.tab {
    display: none;
}

.tab.tab-display {
    display: block;
    animation-name: fade;
    animation-duration: 0.6s;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.tab-section .default-slider-section:first-child,
.tab-section #featured-news:first-child {
    padding-top: 0;
}

.tab-section .default-slider-section .boxed-container,
.tab-section #featured-news .boxed-container {
    padding-left: 0;
    padding-right: 0;
}

#user-tabs .follow {
    display: none;
}

.delete-item {
    display: none !important;
    position: absolute;
    padding: 1rem;
    top: 0;
    right: 0;
    color: #fff;
    z-index: 10;
    cursor: pointer;
    font-weight: normal;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
}

#user-tabs .delete-item {
    display: block !important;
}


// arrows near tab menu, solo mobile

@media (max-width: $screen-sm-max) {
    .tab-button.current-tab-item a::before {
        content: "\f078";
        font-family: FontAwesome;
        margin-right: 4px;    
    }
    
    // .tab-button a::before {
    //     content: "\f077";
    //     font-family: FontAwesome;
    //     margin-right: 4px;
    // }
}
