/* ==========================================================================
View in Room
========================================================================== */

.artwork-view-in-room.out {
    display: none;
}

.artwork-view-in-room {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
}

.artwork-view-in-room[data-state='in'] .vir-room {
    opacity: 1;
    -ms-filter: none;
    filter: none;
}

.vir-room {
    position: absolute;
    width: 6578px;
    height: 1368px;
    top: 50%;
    left: 50%;
    margin-top: -684px;
    margin-left: -3289px;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    transition: opacity 0.5s;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

.vir-room[data-room="camino"] {
    background: #dfdbd8 url('/images/camino.jpg') bottom center no-repeat;
}

.vir-room[data-room="cucina"] {
    background: #dfdbd8 url('/images/cucina.jpg') bottom center no-repeat;
}

.vir-room[data-room="bedroom"] {
    background: #dfdbd8 url('/images/bedroom.jpg') bottom center no-repeat;
}

.vir-room[data-room="salotto"] {
    background: #dfdbd8 url('/images/salotto.jpg') bottom center no-repeat;
}

.vir-room[data-room="office"] {
    background: #dfdbd8 url('/images/office.jpg') bottom center no-repeat;
}

.vir-room[data-room="banner"] {
    background: #dfdbd8 url('/images/banner.jpg') bottom center no-repeat;
    background-size: contain;
    background-color: rgb(0, 0, 0);
}

@media all and (max-width: $screen-sm-max) {
    .vir-room[data-room="banner"] {
        background: #dfdbd8 url('/images/banner-iphone.jpg') bottom center no-repeat;
        background-size: contain;
        background-color: rgb(0, 0, 0);
    }
}

.vir-room[data-room="banner"]~.room-btn {
    color: white;
}

.vir-room[data-room="banner"]+#vir-artwork {
    display: none;
}

.vir-room[data-room="camino"]>a,
.vir-room[data-room="cucina"]>a,
.vir-room[data-room="bedroom"]>a,
.vir-room[data-room="salotto"]>a,
.vir-room[data-room="office"]>a {
    display: none !important;
}

.artwork-view-in-room[data-state='in'] #vir-artwork {
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

#vir-artwork.is-transition {
    -webkit-transition: all 0.75s;
    -moz-transition: all 0.75s;
    -o-transition: all 0.75s;
    -ms-transition: all 0.75s;
    transition: all 0.75s;
}

#vir-artwork.is-notransition {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
}

#vir-placeholder,
#vir-artwork {
    position: fixed;
    z-index: 2;
}

.dz-close {
    position: absolute;
    top: 20px;
    left: 20px;
    text-align: center;
    background-color: transparent;
    z-index: 2;
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    -webkit-transition: opacity 0.25s;
    -moz-transition: opacity 0.25s;
    -o-transition: opacity 0.25s;
    -ms-transition: opacity 0.25s;
    transition: opacity 0.25s;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    color: #000;
    font-size: 30px;
    line-height: 29px;
    padding: 15px;
}

#vir-placeholder {
    left: 50%;
    visibility: hidden;
}

.view-in-room-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    z-index: 999999;
    display: none;
}

.room-btn {
    font-family: "fontawesome";
    font-size: 120px;
    color: #000;
    position: absolute;
    height: 140px;
    top: 50%;
    margin-top: -40px;
    background: transparent;
    border: 0;
    opacity: 0.5;
}

.room-btn:focus {
    outline: none;
}

.room-btn:hover {
    opacity: 1;
}

#prev-room::before {
    content: "\f104";
}

#next-room:before {
    content: "\f105";
}

#prev-room {
    left: 15px;
}

#next-room {
    right: 15px;
}

@media (max-width: $screen-sm-max) {
    .room-btn {
        font-family: "fontawesome";
        font-size: 80px;
        color: #000;
        position: absolute;
        line-height: 50px;
        top: 20px;
        background: transparent;
        border: 0;
        opacity: 0.5;
        height: auto;
        top: 15px;
        margin-top: 0;
    }
    #prev-room {
        right: 80px;
        left: auto;
    }
}
