.max-title {
    font-size: 20.4rem;
}
@media (max-width: $screen-sm-max) {
    .max-title {
        font-size: 14rem;
    }
}
.text-center {
    text-align: center;
    width: 100%;
    display: block;
}
.banksy-box {
    text-align: center;
}
.banksy-container {
    margin-top: 10px;
    width: 80%;
    height: auto;
    display: inline-block;
    position: relative;
}

.banksy-cover-without-shadow {
    width: 100%;
    height: auto;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.banksy-cover-without-shadow-container,.banksy-cover-without-shadow-container-2 {
    width: 100%;
    height: auto;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    overflow: hidden;
}
.banksy-cover-without-shadow-container-2 {
    top: 0%;
    top: auto;
    overflow: visible;
    z-index: 2;
}

.banksy-cover-without-shadow-sizer {
    opacity: 0;
}
.banksy-cover-shadow {
    width: 100%;
    height: auto;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}
.banksy-artwork-full {
    width: 100%;
    height: auto;
    display: inline-block;
    position: absolute;
    top: 0%;
    left: 0;
    z-index: 2;
    -webkit-animation: expand 2s forwards;
    animation-delay: 2s;
}
.banksy-artwork-cut {
    width: 100%;
    height: auto;
    display: inline-block;
    position: absolute;
    top: 0%;
    left: 0;
    z-index: 1;
    -webkit-animation: expand 2s forwards;
    animation-delay: 2s;
}
.banksy-background-sizer {
    width: auto;
    height: auto;
    display: inline-block;
    position: relative;
    z-index: 0;
}

@-webkit-keyframes expand{
    0% { top: 0% }
    100% { top: 38% }
}
