/* About Us */

.team-member {
    padding: $col-vertical-padding;
}

.team-member:first-child {
    padding-top: 0;
}

.team-member:last-child {
    padding-bottom: 0;
}

.team-img-col {
    margin-bottom: $col-vertical-padding;
}

.team-img-col img {
    width: 100%;
    height: auto;
}

.press-container {
    margin-top: $container-vertical-padding;
    border-left: $main-border;
    border-top: $main-border;
}

.press-item {
    border-right: $main-border;
    border-bottom: $main-border;
    display: flex;
    justify-content: center;
    align-items: center;
}

.press-item a {
    max-width: 80%;
    height: auto;
}
