/* ==========================================================================
Artworks - section Intro
========================================================================== */

.artworks-intro {
    //Hero carousel
    & .slick-carousel {
        position: relative;
        display: block;
    }
    & .slick-item {
        position: relative;
        display: block;
    }
}

/* ==========================================================================
Artworks - section Archive
========================================================================== */

// category filters box
.category-filter-item {
    width: calc(20% - 1rem) !important;
    margin: 0.5rem !important;
}

.category-filter-item h4 {
    font-size: $h4-font-size;
}

//open/close Filters button
.artwoks-filter-button {
    display: none;
    cursor: pointer;
}

@media (max-width: $screen-sm-max) {
    #archive-sidebar {
        position: fixed;
        background: white;
        left: -100%;
        right: 0;
        top: 0;
        height: 100%;
        width: 100%;
        display: block;
        z-index: 99999999;
        overflow: scroll;
    }
    #archive-sidebar.open {
        left: 0%;
    }
    .right-big-button {
        text-align: right;
        font-size: 24px;
        color: $secondary-link-color;
        margin-bottom: 10px;
    }
    .artwoks-filter-button {
        display: block;
        text-align: right;
    }
    .category-filter-item {
        width: calc(50% - 1rem) !important;
        margin: 0.5rem !important;
    }
    .category-filter-item h4 {
        font-size: 14px;
    }
}

// selected filter
li.item-list.li-filter.active a {
    text-decoration: underline;
    color: $secondary-link-color;
}


/* ==========================================================================
Artworks - section Single
========================================================================== */

.artwork-features em:not(:last-child):after {
    content: ', ';
    display: inline-block;
    position: relative;
}

.box-offer-info {
    display: block;
    position: relative;
}

.box-offer-info-icon {
    margin-left: 8px;
    text-align: center;
    vertical-align: bottom;
}