body.artwork-single {
    & .artist-name {
        color: #48b6ac;
        font-weight: 700;
    }
    & .artwork-goto-buttons {
        text-align: center !important;
        & .black-button, .default-input-button {
            font-size: 1.4rem;
            margin: 10px 4px;
        }
    }
}
