/* ---------------------------------------------- Cart */

/* Product */
#cart {
    background-color: #eee;
}

.cart-item {
    margin-bottom: calc(#{$col-vertical-margin} * 2);
    padding: 3rem;
    background-color: #fff;
}

.cart-item:last-child {
    margin-bottom: 0;
}

.cart-product-img {
    width: 100%;
}

.cart-thumb img {
    display: inline-block;
    width: 100%;
    height: auto;
}

.cart-item .default-sheet-row .default-sheet-row-cell:first-child {
    min-width: 12rem;
}

.remove:before {
    content: "\f00d";
    display: inline-block;
    margin-right: 1rem;
    font-family: FontAwesome;
}

.red-text {
    color: red;
}


/* Payment */

.cart-payment .default-sheet-row .default-sheet-row-cell:first-child {
    min-width: 12rem;
}

.cart-price {
    font-size: $h4-font-size;
    line-height: $title-line-height;
}

.cart-payment .default-sheet-row-cell .link-button,
.cart-payment .default-sheet-row-cell input[type="text"] {
    margin: 0;
}

.cart-payment .cart-box .default-sheet-row,
.cart-payment .cart-box .default-sheet-row-cell {
    align-items: center;
}

.cart-payment .cart-box .default-sheet-row-cell input[type="radio"] {
    margin-right: 1rem;
    margin-left: 0;
}

.cart-payment .cart-box p {
    margin-top: 0;
    margin-bottom: 0;
}

.cart-payment .payment-box img {
    max-height: 3rem;
    width: auto;
    margin: 0.5rem 0;
}
