/* ---------------------------------------------- Gallery Application */

.generic-title {
    width: 100%;
    display: flex;
    justify-content: center;
}

.big-h1 {
    width: 100%;
    font-size: 3rem;
    text-align: center;
}


@media (min-width: $screen-sm-min) {
    .big-h1 {
        font-size: 4rem;
    }
}


.app-box-title {
    text-align: center;
}

.horizontal-icon-box-container .col {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.center-text-box {
    text-align: center;
    max-width: 76.8rem;
    margin: 0 auto;
    border-top: $main-border;
}
