/* ---------------------------------------------- Homepage First Viewport */

#home-first-viewport {
    overflow: unset;
}

#home-container {
    width: calc(100% + calc(#{$home-box-border-size} * 2));
    margin-top: #{$home-box-border-size};
    margin-bottom: calc(-1 * #{$home-box-border-size});
    margin-left: calc(-1 * #{$home-box-border-size});
    margin-right: calc(-1 * #{$home-box-border-size});
    display: flex;
    flex-wrap: wrap;
}

.home-col {
    height: calc(100vh + calc(#{$home-box-border-size} * 2));
}

#home-col-1 {
    width: 60%;
}

#home-col-2 {
    width: 40%;
}

.home-col-row {
    display: flex;
}

#home-col-1 .home-col-row {
    height: 50%;
}

.home-box {
    position: relative;
    display: flex;
    border: $home-box-border-size solid #fff;
}

#home-box-1 {
    height: 50%;
}

#home-box-2 {
    flex-grow: 3;
    width: 70%;
    height: 100%;
}

#home-box-3 {
    flex-grow: 1;
    width: 30%;
    height: 100%;
}

#home-box-4 {
    width: 100%;
    height: 60%;
}

#home-box-5 {
    width: 100%;
    height: 40%;
}


/* Overlay */

.home-box-overlay {
    width: 100%;
    height: 100%;
    padding: $home-box-padding;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: $home-box-overlay-bg-color;
    overflow: hidden;
    opacity: 0;
    transition: transform 0.2s ease-in-out, opacity 0.3s ease-in-out;
}

.home-box:hover .home-box-overlay {
    opacity: 1;
}

.home-box-title,
.home-box-overlay a {
    color: #fff;
}

.home-box-title:after {
    display: block;
    content: "";
    height: 0.3rem;
    width: 6rem;
    background-color: #fff;
    margin-top: 1rem;
}

.home-box-overlay ul,
.home-box-overlay li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.home-box-overlay a:hover {
    color: $link-color;
}

.home-box-menu {
    width: calc(100% + #{$home-box-padding} + 2rem);
    margin-right: -2rem;
    margin-bottom: 1rem;
    overflow-y: scroll;
}

.home-box-txt {
    margin-bottom: 1rem;
}

.home-box-txt p {
    color: #fff;
}


/* Home Box Options */

.home-box-cog {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.home-box-cog i {
    color: #fff;
    padding: #{$home-box-padding} #{$home-box-padding} calc(#{$home-box-padding} / 2) #{$home-box-padding};
    cursor: pointer;
    font-size: 2rem;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    z-index: 9;
}

.home-box-options {
    display: none;
    width: 25rem;
    margin: 0 #{$home-box-padding} calc(#{$home-box-padding} / 2) #{$home-box-padding};
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.home-box-options-header {
    background-color: $main-color;
}

.home-box-options-header h4 {
    margin: 0;
    padding: 1rem 2rem;
    color: #fff;
}

.home-box-options-menu {
    width: 100%;
    height: 25rem;
    margin: 1rem 2rem 2rem 2rem;
    overflow: hidden;
    overflow-y: scroll;
}

.home-box-options-menu ul,
.home-box-options-menu li {
    margin: 0;
    padding: 0;
    list-style: none;
}


body.home {
    & .mobile-header {
        background-color: #48b6ac;
        padding-top: 2rem;
        & h1 {
            font-size: 2rem !important;
            color: white !important;
        }
        & .home-box {
            margin-bottom: 2rem;
        }
    }
    & .mobile-header-login {
        display: none;
        & h1 {
            font-size: 2rem !important;
        }
    }
    & .slick-carousel {
        @media (max-width: $screen-sm-max) {
            & .home-box-overlay {
                padding: 4rem;
            }
        }
        & .slick-prev:before,
        & .slick-next:before {
            opacity: 1;
            background: transparent;
            display: block;
            left: 40px;
            position: relative;
            color: white;
        }
        & .slick-next:before {
            opacity: 1;
            background: transparent;
            display: block;
            left: auto;
            right: 40px;
            position: relative;
            color: white;
        }
        & .slick-prev.slick-disabled:before,
        & .slick-next.slick-disabled:before {
            opacity: 0;
        }
    }
    & .slide-item {
        & .white-button {
            margin-bottom: $base-space;
        }
        & .slick-next {
            left: 20px;
        }
        & .slick-prev {
            right: 20px;
        }
    }
}



// Home Blocks mobile variations
body.home {
    @media (max-width: 767px) {

        .artist-slider .boxed-container {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        .event-slider .slider-item.one-third-col-with-margin,
        .gallery-slider .slider-item.one-third-col-with-margin {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }

        .artist-slider.default-slider-section,
        .event-slider.default-slider-section,
        .gallery-slider.default-slider-section {
            //width: 49%;
            display: inline-block;
            position: relative;
            vertical-align: top;
            //min-height: 500px;
        }

        .artist-slider .slider-item {
            display: none;
            width: 100%;
        }
        .artist-slider .three-fourth-col-with-margin {
            width: 100%;
        }
        .artist-slider .slider-item:first-of-type {
            display: block;
        }
        .artist-slider .slider-item .slider-item-txt .artist-name,
        .artist-slider .slider-item .slider-item-txt .artwork-type,
        .artist-slider .slider-item .slider-item-txt .artwork-measures {
            display: none !important;
        }
        .artist-slider .slider-item .slider-item-txt .artist-name:first-of-type,
        .artist-slider .slider-item .slider-item-txt .artwork-type:first-of-type,
        .artist-slider .slider-item .slider-item-txt .artwork-measures:first-of-type {
            display: block;
        }

        .artist-slider .slider-item .slider-item-txt .default-sheet-row-cell,
        .artist-slider .slider-item .slider-item-txt h2,
        .artist-slider .slider-item .slider-item-txt h2 a,
        .artist-slider .slider-item .slider-item-txt .artwork-price {
            display: block;
            width: 100%;
        }

        .default-slider-section .slider-title-drop-caps {
            display: none;
        }

        .default-slider-section .one-fourth-col-with-margin {
            width: 100%;
            text-align: left;
        }

        .event-slider.default-slider-section .default-slider-header .h1,
        .event-slider.default-slider-section .default-slider-header p,
        .gallery-slider.default-slider-section .default-slider-header .h1,
        .gallery-slider.default-slider-section .default-slider-header p {
            display: block;
            width: 100%;
            //background: purple !important;
        }
        .event-slider.default-slider-section .slider-item,
        .gallery-slider.default-slider-section .slider-item {
            display: none;
            width: 100%;
            //background: purple !important;
        }
        .event-slider.default-slider-section .slider-item:first-of-type,
        .gallery-slider.default-slider-section .slider-item:first-of-type {
            display: block;
        }
    }

    & .home-box-caption {
        position: absolute;
        bottom: 2px;
        right: 0;
        color: white;
        font-size: 12px;
        padding: 2px 18px;
    }
}

