/* ==========================================================================
News / Archive - section Artworks
========================================================================== */

.news-content p:first-of-type::first-letter {
    float: left;
    font-size: 9rem;
    line-height: 6rem;
    padding-top: 0.4rem;
    padding-right: 0.8rem;
    padding-left: 0.3rem;
    color: rgb(34, 34, 34);
}

body.magazine-archive .masonry-item-txt h2 a {
    @media (max-width: $screen-sm-max) {
        //word-break: break-all;
        //word-wrap: break-word;
        //overflow-wrap: break-word;
        //word-break: normal;
        //word-wrap: normal;
        //overflow-wrap: normal;
        //hyphens: auto;
        font-size: 14px;
        line-height: 1.4;
    }
}
div.masonry-item-txt {
    @media (max-width: $screen-sm-max) {
        padding: 1rem;
    }
}
