/* ---------------------------------------------- Services Page */

.services-list {
    padding: calc(#{$col-horizontal-padding} * 3);
    background-color: #eee;
}

.services-list-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: $col-horizontal-padding 0;
    border-bottom: $main-border;
}

.services-list-row p,
.services-list-row h3 {
    margin: 0;
}

.services-list-cell {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
}

.services-list-cell:last-child {
    margin-right: 0;
}

.services-list-row .services-list-cell:first-child {
    min-width: 10%;
}

.services-list-row .services-list-cell:nth-child(2) {
    min-width: 30%;
}

.services-contact-txt {
    flex-wrap: nowrap;
}
