/* ---------------------------------------------- Thank You Page */

.thanks-title {
    font-size: 4rem;
    line-height: 100%;
    display: inline-block;
}

.thanks-icon {
    font-size: 4rem !important;
    line-height: 100%;
}
