/* Profile */

#linked-accounts i {
    min-width: 3rem;
    text-align: left;
}

#linked-accounts .default-sheet-row .default-sheet-row-cell:first-child {
    min-width: 20rem;
}
/* ==========================================================================
User Page - Orders
========================================================================== */

.user-orders-table,
.user-orders-items-table {
    width: 100%;
    position: relative;
}

.user-orders-table,
.user-orders-items-table,
.user-orders-table *,
.user-orders-items-table * {
    border-spacing: 0;
    -border-collapse: collapse;
}

.user-orders-table th {
    font-family: $title-font;
    font-weight: bold;
    color: $title-color;
    /*border-bottom: 1px solid $mercury ;*/
}

.user-orders-table th,
.user-orders-table td {
    text-align: center;
    padding: 4px 0;
}

.user-orders-items-table {
    width: 100%;
    --webkit-box-shadow: inset 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
    --moz-box-shadow: inset 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
    -box-shadow: inset 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
}

.user-orders-items-table th {
    -background: #efefef;
    text-align: center;
}

.user-orders-items-table th,
.user-orders-items-table td {
    /*border-bottom: 0px solid $mercury;*/
    text-align: left;
    border-top: none !important;
}

.user-orders-table .image {
    width: 25%;
}

.user-orders-table .reference,
.user-orders-table .title,
.user-orders-table .quantity,
.user-orders-table .unit-price,
.user-orders-table .total-price {
    width: 15%;
}

tr.table-border-top td {
    border-top: 1px solid #efefef;
}

.four-box-division {
    /*border: 1px solid blue;*/
    width: 48%;
    margin: 0;
    margin-right: 1%;
    margin-bottom: 1%;
    height: 0;
    padding-top: 48%;
    display: inline-block;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
}

.user-orders-table .four-box-division:nth-child(4)::after {
    content: "+";
    background: rgba(0, 0, 0, 0.5);
    color: $main-color !important;
    font-size: 2em;
    line-height: 4em;
    vertical-align: middle;
    font-weight: bold;
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

// box immagini in Order
.user-orders-table td.image {
    text-align: left;
    padding: 20px;
    text-align: left;
}

// singole immagini in Order
.user-orders-table td.image {
    //border: 1px solid $twine;
}
// card item list in account page
.card-item-account {
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position: 4px center;
    height: auto;
    width: auto;
    display: inline-block;
    padding: 0 0 0 44px;
}

.user-orders-table td.image .four-box-division {
    border: 1px solid $twine;
}

.user-orders-table td.image .ratio-content {
    border: 1px solid $twine;
}

.user-orders-table * {
    vertical-align: middle !important;
}

.orders-table-separator td {
    height: 2px !important;
    background-color: $mercury !important;
    padding: 0 !important;
}