/* ---------------------------------------------- Layout Misc */
section {
    // width: 100%;
	// overflow: hidden;
	box-shadow: inset
		0 0 0 1px black,
		0 0 0 4px white,
		0 0 0 5px black;
}

.container {
	// clear: both;
	box-shadow: inset
		0 0 0 1px CRIMSON,
		0 0 0 4px white,
		0 0 0 5px CRIMSON;
}

.boxed-container {
    // width: 100%;
    // max-width: calc(1200px + calc(2rem * 2));
    // padding-left: 2rem;
    // padding-right: 2rem;
    // margin: 0 auto;
	box-shadow: inset
		0 0 0 1px DEEPPINK,
		0 0 0 4px white,
		0 0 0 5px DEEPPINK;
}

.col-container {
    // width: calc(100% + calc(2rem * 2));
    // margin-left: calc(-1 * 2rem);
    // margin-right: calc(-1 * 2rem);
	box-shadow: inset
		0 0 0 1px DARKORANGE,
		0 0 0 4px white,
		0 0 0 5px DARKORANGE;
}

.col-container-with-offset {
    // width: 100%;
	box-shadow: inset
		0 0 0 1px GOLD,
		0 0 0 4px white,
		0 0 0 5px GOLD;
}

.col-container-with-offset-and-margin {
    // width: calc(100% + calc(2rem * 2));
    // margin-left: calc(-1 * 2rem);
    // margin-right: calc(-1 * 2rem);
	box-shadow: inset
		0 0 0 1px DARKKHAKI,
		0 0 0 4px white,
		0 0 0 5px DARKKHAKI;
}

.col-container-with-margin {
    // width: calc(100% + calc(#{$col-horizontal-padding} * 2) + calc(2rem * 2));
    // margin-left: calc(-1 * calc(#{$col-horizontal-padding} + 2rem));
    // margin-right: calc(-1 * calc(#{$col-horizontal-padding} + 2rem));
	box-shadow: inset
		0 0 0 1px VIOLET,
		0 0 0 4px white,
		0 0 0 5px VIOLET;
}

.one-half-col {
    // width: 50%;
}

.two-third-col {
    // width: 66.66%;
}

.one-third-col {
    // width: 33.33%;
}

.one-fourth-col {
    // width: 25%;
}

.three-fourth-col {
    // width: 75%;
}

.one-fifths-col {
    // width: 20%;
}

.four-fifths-col {
    // width: 80%;
}


/* Columns with margin */

.full-col-with-margin {
    // width: calc(100% - calc(2rem * 2));
    // margin-left: 2rem;
    // margin-right: 2rem;
	box-shadow: inset
		0 0 0 1px BLUEVIOLET,
		0 0 0 4px white,
		0 0 0 5px BLUEVIOLET;
}

.one-half-col-with-margin {
    // width: calc(50% - calc(2rem * 2));
    // margin-left: 2rem;
    // margin-right: 2rem;
	box-shadow: inset
		0 0 0 1px SLATEBLUE,
		0 0 0 4px white,
		0 0 0 5px SLATEBLUE;
}

.two-third-col-with-margin {
    // width: calc(66.66% - calc(2rem * 2));
    // margin-left: 2rem;
    // margin-right: 2rem;
	box-shadow: inset
		0 0 0 1px LIME,
		0 0 0 4px white,
		0 0 0 5px LIME;
}

.one-third-col-with-margin {
    // width: calc(33.33% - calc(2rem * 2));
    // margin-left: 2rem;
    // margin-right: 2rem;
	box-shadow: inset
		0 0 0 1px SEAGREEN,
		0 0 0 4px white,
		0 0 0 5px SEAGREEN;
}

.one-fourth-col-with-margin {
    // width: calc(25% - calc(2rem * 2));
    // margin-left: 2rem;
    // margin-right: 2rem;
	box-shadow: inset
		0 0 0 1px AQUA,
		0 0 0 4px white,
		0 0 0 5px AQUA;
}