// Google Fonts
@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i|Muli:400,700");

// Font Variables
$pt-serif: 'PT Serif', serif;
$muli: 'Muli', sans-serif;

// Queries
$screen-sm-min: 768px !default;
$screen-md-min: 992px !default;
$screen-lg-min: 1200px !default;

$screen-sm-max: ($screen-sm-min - 1) !default;
$screen-md-max: ($screen-md-min - 1) !default;
$screen-lg-max: ($screen-lg-min - 1) !default;

@mixin until-small {
	@media (max-width : $screen-sm-max) {
		@content;
	}
}
@mixin from-small {
	@media (min-width : $screen-sm-min) {
		@content;
	}
}

@mixin until-medium {
	@media (max-width : $screen-md-max) {
		@content;
	}
}
@mixin from-medium {
	@media (min-width : $screen-md-min) {
		@content;
	}
}

@mixin until-large {
	@media (max-width : $screen-lg-max) {
		@content;
	}
}
@mixin from-large {
	@media (min-width : $screen-lg-min) {
		@content;
	}
}

// queries usage example
.module {
	background: gray;

    @include until-small {
		background: red;
    }
    @include from-small {
		background: green;
    }
}


// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$twine: #c2a661;
$fountain-blue: #48b6ac;
$cod-gray: #101010;
$white: #ffffff;
$black: #000000;
$twine: #c2a661;
$mine-shaft: #222222;
$gray: #888888;
$gallery: #eeeeee;
$mercury: #e5e5e5;

// Colors variations
$alpha-white: rgba( $white, .5 );
$alpha-black-6: rgba( $black, .6 );
$alpha-white-2: rgba( $black, .2 );



// variables NEW scss format
$main-color: #48b6ac;
/* Navigation */
$main-navbar-bg: #101010;
$main-border-color: rgb(136, 136, 136);
$event-address-display-display: block;

$sticky-nav-offset-y: 0;
$sticky-nav-offset-x: 0;
$big-logo-height: 3rem;
$small-logo-height: 5rem;
$small-logo-margin: 1rem;
$main-menu-link-vertical-padding: 0.6rem;
$main-menu-link-horizontal-padding: 1.5rem;
$main-menu-font-size: 1.4rem;
$glut-nav-link-color: #fff;
$glut-nav-link-color-hover: #c2a661;
$header-search-display: block;
$upper-header-bg: #fff;
/* Mobile */
$mobile-small-logo-height: 3rem;
$mobile-menu-color-overlay: rgba(255,255,255,0.05);
/* Typography */
$main-font: $pt-serif;
$title-font: $muli;
$h1-margin: 2rem;
$h2-margin: 1.8rem;
$h3-margin: 1.6rem;
$h4-margin: 1.4rem;
$h5-margin: 1.2rem;
$h6-margin: 1rem;
$h1-font-size: 2.4rem;
$h2-font-size: 2.2rem;
$h3-font-size: 2rem;
$h4-font-size: 1.8rem;
$h4-line-height: 180%;

$h5-font-size: 1.6rem;
$h6-font-size: 1.4rem;
$title-line-height: 120%;
$title-font-weight: bold;
$title-color: #222;
$p-margin: 1rem;
$p-font: $main-font;
$p-font-size: 1.4rem;
$p-line-height: 180%;
$p-color: #888;
$small-p-font-size: 1.2rem;
$small-p-line-height: 120%;
$dark-text-color: $title-color;
$link-color: $main-color;
$link-hover-color: $title-color;
$secondary-link-color: #c2a661;
/* Containers */
$boxed-container-max-width: 1200px;
$boxed-container-horizontal-offset: 2rem;
$container-vertical-padding: 5rem;
/* Columns */
$one-half-col-width: 50%;
$two-third-col-width: 66.66%;
$one-third-col-width: 33.33%;
$one-fourth-col-width: 25%;
$three-fourth-col-width: 75%;
$one-fifths-col-width: 20%;
$four-fifths-col-width: 80%;
$col-flex-grow: 1;
$col-horizontal-padding: 2rem;
$col-vertical-padding: 2rem;
$col-horizontal-margin: 2rem;
$col-vertical-margin: 2rem;
$col-horizontal-margin-experience: 0.5rem;
/* Boxes */
$square-box: 100%;
$wide-box: 56.25%;
$vertical-box: 150%;
/* Gallery */
$gallery-overlay-color: rgba(0,0,0,0.2);
$gallery-icon-color: #fff;
/* Slider */
$slider-vertical-padding: 4rem;
/* Form */
$form-input-bg: #eee;
$form-input-border: none;
/* Buttons */
$buttons-bg-color: $main-navbar-bg;
/* Misc */
$main-border: 1px solid $main-border-color;
$main-border-color: #e5e5e5;
/* Product Sheet */
$default-sheet-row-margin: 0.5rem;
/* Pages */
$generic-logo-size: 6rem;
/* Hompage First Viewport */
$home-box-border-size: 1rem;
$home-box-overlay-bg-color: rgba(0,0,0,0.6);
$home-box-padding: 4rem;
/* Newsletter */
$newsletter-bg-color: #fff;
$newsletter-p-color: unset;
$newsletter-link-color: $link-color;
$newsletter-link-hover-color: $link-hover-color;
$newsletter-input-bg-color: $form-input-bg;
/* Footer */
$footer-link-color: #fff;
$footer-link-hover-color: $link-color;
$credits-border-top: 0.1rem solid rgba(255,255,255,0.05);
/* Data Display */
$birth-display: block;
$provenance-display: block;
$exposure-display: block;
$event-date-p-display: block;
$event-address-display: block;
$news-date-display: block;
$news-author-display: none;
$gallery-adress-display: block;
$artwork-date-display: block;
$artwork-measures-display: block;
$artwork-type-display: block;
$artwork-price-display: block;
$slider-item-txt-display: block;
$read-more-display: block;
$page-sidebar-display:block;
$news-sidebar-display:block;
$event-gallery-name-display: none;
$google-maps-button-display: none;


// Lab villa root elements come riferimento
:root {
	--main-color: #48b6ac;
	/* Navigation */
	--main-navbar-bg: #101010;
	--main-border-color: #101010;
	--event-address-display-display: block;

	--sticky-nav-offset-y: 0;
	--sticky-nav-offset-x: 0;
	--big-logo-height: 3rem;
	--small-logo-height: 5rem;
	--small-logo-margin: 1rem;
	--main-menu-link-vertical-padding: 0.6rem;
	--main-menu-link-horizontal-padding: 1.5rem;
	--main-menu-font-size: 1.4rem;
	--glut-nav-link-color: #fff;
	--glut-nav-link-color-hover: #c2a661;
	--header-search-display: block;
	--upper-header-bg: #fff;
	/* Mobile */
	--mobile-small-logo-height: 3rem;
	--mobile-menu-color-overlay: rgba(255,255,255,0.05);
	/* Typography */
	--main-font: $pt-serif;
	--title-font: $muli;
	--h1-margin: 2rem;
	--h2-margin: 1.8rem;
	--h3-margin: 1.6rem;
	--h4-margin: 1.4rem;
	--h5-margin: 1.2rem;
	--h6-margin: 1rem;
	--h1-font-size: 2.4rem;
	--h2-font-size: 2.2rem;
	--h3-font-size: 2rem;
	--h4-font-size: 1.8rem;
	--h4-line-height: 180%;
	
	--h5-font-size: 1.6rem;
	--h6-font-size: 1.4rem;
	--title-line-height: 120%;
	--title-font-weight: bold;
	--title-color: #222;
	--p-margin: 1rem;
	--p-font: $main-font;
	--p-font-size: 1.4rem;
	--p-line-height: 180%;
	--p-color: #888;
	--small-p-font-size: 1.2rem;
	--small-p-line-height: 120%;
	--dark-text-color: $title-color;
	--link-color: $main-color;
	--link-hover-color: $title-color;
	--secondary-link-color: #c2a661;
	/* Containers */
	--boxed-container-max-width: 1200px;
	--boxed-container-horizontal-offset: 2rem;
	--container-vertical-padding: 5rem;
	/* Columns */
	--one-half-col-width: 50%;
	--two-third-col-width: 66.66%;
	--one-third-col-width: 33.33%;
	--one-fourth-col-width: 25%;
	--three-fourth-col-width: 75%;
	--one-fifths-col-width: 20%;
	--four-fifths-col-width: 80%;
	--col-flex-grow: 1;
	--col-horizontal-padding: 2rem;
	--col-vertical-padding: 2rem;
	--col-horizontal-margin: 2rem;
	--col-vertical-margin: 2rem;
	--col-horizontal-margin-experience: 0.5rem;
	/* Boxes */
	--square-box: 100%;
	--wide-box: 56.25%;
	--vertical-box: 150%;
	/* Gallery */
	--gallery-overlay-color: rgba(0,0,0,0.2);
	--gallery-icon-color: #fff;
	/* Slider */
	--slider-vertical-padding: 4rem;
	/* Form */
	--form-input-bg: #eee;
	--form-input-border: none;
	/* Buttons */
	--buttons-bg-color: $main-navbar-bg;
	/* Misc */
	--main-border: 1px solid $main-border-color;
	--main-border-color: #e5e5e5;
	/* Product Sheet */
	--default-sheet-row-margin: 0.5rem;
	/* Pages */
	--generic-logo-size: 6rem;
	/* Hompage First Viewport */
	--home-box-border-size: 1rem;
	--home-box-overlay-bg-color: rgba(0,0,0,0.6);
	--home-box-padding: 4rem;
	/* Newsletter */
	--newsletter-bg-color: #fff;
	--newsletter-p-color: unset;
	--newsletter-link-color: $link-color;
	--newsletter-link-hover-color: $link-hover-color;
	--newsletter-input-bg-color: $form-input-bg;
	/* Footer */
	--footer-link-color: #fff;
	--footer-link-hover-color: $link-color;
	--credits-border-top: 0.1rem solid rgba(255,255,255,0.05);
	/* Data Display */
	--birth-display: block;
	--provenance-display: block;
	--exposure-display: block;
	--event-date-p-display: block;
	--event-address-display: block;
	--news-date-display: block;
	--news-author-display: none;
	--gallery-adress-display: block;
	--artwork-date-display: block;
	--artwork-measures-display: block;
	--artwork-type-display: block;
	--artwork-price-display: block;
	--slider-item-txt-display: block;
	--read-more-display: block;
	--page-sidebar-display:block;
	--news-sidebar-display:block;
	--event-gallery-name-display: none;
	--google-maps-button-display: none;
}
