/* ==========================================================================
Trick & Fix
========================================================================== */

// NO mobile / NO desktop
.no-mobile {
    @media #{$until-medium} {
        display: none !important;
    }
}
.no-desktop {
    @media #{$medium} {
        display: none !important;
    }
}


// mobile / desktop only
.mobile-only {
    display: none !important;
    @media #{$until-medium} {
        display: initial !important;
    }
}
.desktop-only {
    display: none !important;
    @media #{$medium} {
        //display: initial !important;
        display: block !important;
    }
}

/* Spacings */
.space-0-bottom {
    margin-bottom: 0 !important;
}
.space-min-top {
    margin-bottom: $min-space !important;
}
.space-base-top {
    margin-bottom: $base-space !important;
}
.space-small-bottom {
    margin-bottom: $small-space !important;
}
.space-medium-bottom {
    margin-bottom: $medium-space !important;
}
.space-large-bottom {
    margin-bottom: $large-space !important;
}
.space-extra-bottom {
    margin-bottom: $extra-space !important;
}

.space-0-top {
    margin-top: 0 !important;
}
.space-min-top {
    margin-top: $min-space !important;
}
.space-base-top {
    margin-top: $base-space !important;
}
.space-small-top {
    margin-top: $small-space !important;
}
.space-medium-top {
    margin-top: $medium-space !important;
}
.space-large-top {
    margin-top: $large-space !important;
}
.space-extra-top {
    margin-top: $extra-space !important;
}




/* Ratio container */
.ratio-container-1-1,
.ratio-container-16-9,
.ratio-container-4-3,
.ratio-container-3-2,
.ratio-container-3-1,
.ratio-container-8-5 {
    position: relative;
    display: block;
    width: 100%;
    overflow: inherit;
}

.ratio-container-1-1 {
    padding-top: 100%;
    /* 1:1 Aspect Ratio */
}

.ratio-container-16-9 {
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio */
}

.ratio-container-4-3 {
    padding-top: 75%;
    /* 4:3 Aspect Ratio */
}

.ratio-container-3-2 {
    padding-top: 66.66%;
    /* 3:2 Aspect Ratio */
}

.ratio-container-3-1 {
    padding-top: 33.33%;
    /* 3:1 Aspect Ratio */
}

.ratio-container-8-5 {
    padding-top: 62.5%;
    /* 8:5 Aspect Ratio */
}

.ratio-content {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.contain-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.cover-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-pos-top-center {
    background-position: top center;
}

.inline-middle {
    display: inline-block;
    vertical-align: middle;
}

svg.svg-icon {
    fill: #48b6ac;
    -webkit-transition: fill 0.2s ease-in-out, background-color 0.2s ease-in-out;
    transition: fill 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

svg.svg-icon:hover {
    fill: #101010;
}

// fix to dislay correctly "show more text" tabs in pages
.tab:not(.tab-display) {
    display: inline-block;
    height: 0;
    width: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.full-height {
    min-height: 100vh;
}

.full-width-img {
    width: 100%;
    height: auto;
}

.display-block {
    display: block;
}

.text-align-center {
    text-align: center;
}

.background-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.text-align-center {
    text-align: center;
}
.no-margin {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.default-margin-top {
    margin-top: 2rem !important;
}

.default-margin-bottom {
    margin-bottom: 2rem !important;
}

video {
    min-width: 100%;
    min-height: 100%;
}

.divider {
    margin: 0;
    padding: 0;
    border-top: $main-border;
    background-color: transparent;
}

.flex-align-center {
    align-items: center !important;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-top {
    align-items: flex-start !important;
}


/* ==========================================================================
Generics Frontend
========================================================================== */

// warnings
.in-page-warning {
    width: 100%;
    background: silver;
    color: black;
    padding: $col-vertical-margin;
    margin-bottom: $col-vertical-margin;
}

.in-page-warning.error {
    background: red;
    color: white;
}

.in-page-warning.success {
    background: green;
    color: white;
}

.in-page-warning.warning {
    background: orange;
    color: white;
}

// forms and inputs
form .error {
    color: #ff0000;
}

input:disabled,
input[disabled],
button:disabled,
button[disabled] {
    border: 1px solid #999999 !important;
    background-color: #cccccc !important;
    color: #666666 !important;
    cursor: not-allowed;
}

.no-display {
    display: none !important;
}

.user-pic {
    display: none;
}

input.error {
    color: red !important;
}

label.error {
    color: red !important;
    display: block;
    text-align: left;
}

.todo {
    animation-name: blink-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    opacity: 0.2;
}

@keyframes blink-animation {
    to {
        opacity: 1;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: 1;
    }
}

.accordion {
    cursor: pointer;
    transition: 0.4s;
}

.panel {
    overflow: hidden;
    height: auto;
    max-height: 0px;
    transition: max-height 0.8s ease-in-out;
}

.btn_load {
    display: inline-block;
    margin: auto;
    position: relative;
}

.btn_load,
.btn_view_all,
.small-input-button {
    display: inline-block;
    margin-top: $p-margin;
    margin-bottom: $p-margin;
    margin-left: 1rem;
    padding: 1.2rem 2rem;
    font-family: $title-font;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #fff;
    background-color: $buttons-bg-color;
    border: none;
    cursor: pointer;
    -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

.btn_load:hover,
.btn_view_all:hover,
.small-input-button:hover {
    color: #fff;
    background-color: $link-color;
}

input:not([type='submit']) {
    color: black !important;
}


input.card+label {
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position: 4px center;
    height: auto;
    width: auto;
    display: inline-block;
    padding: 0 0 0 44px;
}

.pac-container {
    z-index: 100000;
}

.force-inline {
    width: auto !important;
    display: inline-block !important;
    ;
    position: relative !important;
    ;
}

.form-control.inline {
    display: inline-block;
    width: auto;
}

.form-control.inline {
    display: inline-block;
    width: auto;
}

.horizontal-space-sm {
    padding-left: 4px;
}

.horizontal-space-md {
    padding-left: 8px;
}

.horizontal-space-lg {
    padding-left: 16px;
}

span.gallery-item-image {
    width: 50px;
    height: 50px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin-right: 10px;
    vertical-align: middle;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


.accent-color {
    color: $main-color !important;
}

.load-more-box {
    display: block;
    position: relative;
    text-align: center;
}

.btn_load {
    display: inline-block;
    position: relative;
}

.view-all-box {
    display: block;
    position: relative;
    text-align: center;
}

.btn_view_all {
    display: inline-block;
    position: relative;
}

.text-left-space {
    padding-left: 10px;
}

// Show more text
.show-more-text-container {
    margin: 0 auto;
    width: 100%;
}

.show-more-text-container .show-more-content {
    height: auto;
    line-height: 1.6;
    overflow: hidden;
    max-height: 100px;
    transition: all 0.5s ease-in-out;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(70%, black), to(transparent));
    -webkit-mask-image: linear-gradient(black 70%, transparent 100%);
    mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(70%, rgba(0, 0, 0, 0.6)), to(transparent));
    mask-image: linear-gradient(rgba(0, 0, 0, 0.6) 70%, transparent 100%);
}


.show-more-text-container .show-more-content-inner {
    padding-bottom: 20px;
}

.show-more-text-container .show-more-content.showContent {
    max-height: 10000px;
    transition: all 0.5s ease-in-out;
    max-height: unset;
    -webkit-mask-image: unset;
    mask-image: unset;
}

.show-more-button {
    padding-top: 1em;
    text-align: left;
}

.k-form input[type="number"] {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    font-family: $p-font;
    font-size: $p-font-size;
    line-height: $p-line-height;
    font-weight: normal;
    color: $p-color;
    border: $form-input-border;
    background-color: $form-input-bg;
    -webkit-appearance: none;
}

.toast-success {
    background-color: rgb(72, 182, 172) !important;
}

// Fix on Iubenda text in Privacy Policy
#iubenda_policy .iub_content {
    padding: 0 !important;
}
.iubenda-cs-close-btn {
    z-index: 9999999999999;
}


/* ==========================================================================
Masonry
========================================================================== */

#masonry-grid {
    width: 100%;
    position: relative;
    display: block;
}

/* clearfix */
#masonry-grid .grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- grid-item ---- */
#masonry-grid .grid-item {
    float: left;
}

/* 3 columns by default */
#masonry-grid .grid-sizer,
#masonry-grid .grid-item {
    width: 48%;
    margin-bottom: 4%;
}

#masonry-grid .grid-item img {
    width: 100%;
    height: auto;
}

#masonry-grid .gutter-sizer {
    // width: 0%;
    width: 2%;
}

/* 3 columns for medium screens */
@media screen and (min-width: $screen-sm-min) {
    #masonry-grid .grid-sizer,
    #masonry-grid .grid-item {
        width: 32%;
        margin-bottom: 2%;
    }

    #masonry-grid .gutter-sizer {
        width: 2%;
    }
}


/* ==========================================================================
Notifications
========================================================================== */
.notification-box {
    & .notification-counter {
        color: white;
        background: red;
        padding: 0;
        border-radius: 100%;
        font-weight: bold;
        width: 18px;
        height: 18px;
        text-align: center;
        position: relative;
        top: -8px;
        left: -3px;
        display: inline-block;
    }
    & .notification-counter small {
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: inline-block;
        text-align: center;
        font-size: 9px;
        line-height: 19px;
    }
    & .notification-text {
        display: none;
    }
    & .notification-icon {
        display: inline-block;
    }
}


@media (max-width: $screen-sm-max) {
    .notification-box {
        & .notification-counter {
            display: inline-block;
        }
        & .notification-text {
            display: block;
        }
        & .notification-icon {
            //display: none;
        }
        & a {
            display: block;
        }
    }
}


/* ==========================================================================
Latest fix
========================================================================== */

@media (max-width: $screen-sm-max) {
    .half-width-mobile {
        width: calc(50% - calc(2rem * 2)) !important;
    }
}


/* ==========================================================================
Slick Carousel (Widgets & Co)
========================================================================== */

.slick-prev:before,
.slick-next:before {
    font-family: 'FontAwesome';
    font-size: 40px;
    font-weight: bold;
    line-height: 1;
    opacity: .75;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: opacity 0.25s;
}

.slick-prev {
    left: 0;
    z-index: 1;
}

[dir='rtl'] .slick-prev {
    right: 0;
    left: auto;
}

.slick-prev:before {
    content: '\f104';
}

[dir='rtl'] .slick-prev:before {
    content: '\f105';
}

.slick-next {
    right: 0;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: 0;
}

.slick-next:before {
    content: '\f105';
}

[dir='rtl'] .slick-next:before {
    content: '\f104';
}


/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slick-dots {
    position: absolute;
    bottom: 16px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 8px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 16px;
    height: 16px;
    padding: 8px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    font-family: 'FontAwesome';
    font-size: 16px;
    line-height: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    content: '\f111';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: opacity 0.25s;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
}
@media (max-width: $screen-sm-max) {
    /* slide inner (part of custom slider margin fix) */
    .widget-slick .slick-slide .slider-item {
        margin-left: 0;
        margin-right: 0;
    }
    
    .widget-slick .slick-dots {
        bottom: 0;
    }

    /* the slides (part of custom slider margin fix) */
    .slick-slide {
        margin: 0 14px;
    }
    /* the parent (part of custom slider margin fix) */
    .slick-list {
        margin: 0 -14px;
    }

    .slick-next {
        right: -19px !important;
    }
    .slick-prev {
        left: -19px !important;
    }

}


/* ==========================================================================
Slick Carousel (Widgets & Co)
========================================================================== */
.lb-dataContainer {
    padding-top: 20px;
}


/* ==========================================================================
Lama Q&A
========================================================================== */

.lama-videos {
    & .video-item {
        //border: 1px solid red;
        //padding: 16px 8px;
        margin-bottom: 20px;
    }
    & .video-item video  {
        display: block;
        position: relative;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        height: auto;
        line-height: 0;
        overflow: hidden;
    }

    & .video-item .slider-item-txt  {
        margin-top: 10px;
        margin-bottom: 0;
        display: block;
        position: relative;
        width: 100%;
        height: auto;
    }
}

.cd-timeline-navigation a::after {
    /* arrow icon */
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-image: url('../../../img/cd-arrow.svg');
}
