// lab villa
.birth {
    display: $birth-display !important;
}

.provenance {
    display: $provenance-display !important;
}

.exposure {
    display: $exposure-display !important;
}

.event-date-p {
    display: $event-date-p-display !important;
}

.event-address-display {
    display: $event-address-display-display !important;
}

.news-date {
    display: $news-date-display !important;
}

.news-author {
    display: $news-author-display !important;
}

.gallery-adress {
    display: $gallery-adress-display !important;
}

.artwork-date {
    display: $artwork-date-display !important;
}

.artwork-measures {
    display: $artwork-measures-display !important;
}

.artwork-type {
    display: $artwork-type-display !important;
}

.artwork-price {
    display: $artwork-price-display !important;
    word-wrap: break-word;
    white-space: nowrap;
}

.slider-item-txt {
    display: $slider-item-txt-display
}

.read-more {
    display: $read-more-display !important;
}

.event-gallery-name {
    display: $event-gallery-name-display !important;
}

.google-maps-button {
    display: $google-maps-button-display !important;
}