
/* ---------------------------------------------- Media Query */

@media (max-width: $screen-lg-max) {
    /* ----------------------- Variables */
    :root {
        --one-fourth-col-width: 33.33%;
        --one-fifths-col-width: 33.33%;
    }
    
    /* ###############
    Fix SCSS variables
    ############### */

    // one-fourth-col-width
    $one-fourth-col-width: 33.33%;
    #product-slider .slider-item.experience,
    #artist-slider .slider-item.experience,
    .default-slider-section.experience .slider-title-box {
        width: calc(#{$one-fourth-col-width} - calc(#{$col-horizontal-margin-experience} * 2));
    }
    .one-fourth-col-with-margin {
        width: calc(#{$one-fourth-col-width} - calc(#{$col-horizontal-margin} * 2));
    }
    .one-fourth-col {
        width: $one-fourth-col-width;
    }

    // one-fifths-col-width
    $one-fifths-col-width: 33.33%;
    .category-filter-item {
        width: calc(#{$one-fifths-col-width} - 1rem);
    }
    #recent-viewed-slider .slider-item.experience,
    #represented-artists-slider .slider-item.experience {
        width: calc(#{$one-fifths-col-width} - calc(#{$col-horizontal-margin-experience} * 2));
    }
    .one-fifths-col-with-margin {
        width: calc(#{$one-fifths-col-width} - calc(#{$col-horizontal-margin} * 2));
    }
    .one-fifths-col {
        width: $one-fifths-col-width;
    }    


    /* Sidebar */
    .default-sheet-row {
        flex-wrap: wrap;
    }
    .sidebar {
        width: calc(100% + calc(#{$col-horizontal-margin} * 2));
        margin-left: calc(-1 * #{$col-horizontal-margin});
        margin-right: calc(-1 * #{$col-horizontal-margin});
        display: flex;
        flex-wrap: wrap;
    }
    .widget {
        width: calc(33.33% - calc(#{$col-horizontal-margin} * 2));
        margin-left: $col-horizontal-margin;
        margin-right: $col-horizontal-margin;
    }
}

@media (max-width: $screen-lg-max) {
    /* ----------------------- Variables */
    :root {
        /* Columns */
        --four-fifths-col-width: 100%;
    }
        
    /* ###############
    Fix SCSS variables
    ############### */

    // four-fifths-col-width
    $four-fifths-col-width: 100%;
    .four-fifths-col-with-margin {
        width: calc(#{$four-fifths-col-width} - calc(#{$col-horizontal-margin} * 2));
        margin-left: $col-horizontal-margin;
        margin-right: $col-horizontal-margin;
    }
    .four-fifths-col {
        width: $four-fifths-col-width;
    }


    /* masonry */
    .masonry-container {
        column-count: 3 !important;
    }
}

@media (max-width: $screen-sm-max) {
    /* ----------------------- Variables */
    :root {
        /* Navigation */
        --sticky-nav-offset-y: 0;
        --sticky-nav-offset-x: 0;
        /* Columns */
        --three-fourth-col-width: 100%;
        --two-third-col-width: 100%;
        --one-third-col-width: 50%;
        --one-fourth-col-width: 50%;
        --one-fifths-col-width: 50%;
        /* Homepage First Viewport */
        --home-box-padding: 3rem;
    }
        
    /* ###############
    Fix SCSS variables
    ############### */

    /* Navigation */
    $sticky-nav-offset-y: 0;
    $sticky-nav-offset-x: 0;
    #main-navbar.fixed {
        margin-top: $sticky-nav-offset-y;
        margin-left: $sticky-nav-offset-x;
        margin-right: $sticky-nav-offset-x;
    }

    /* Columns */
    $three-fourth-col-width: 100%;
    .three-fourth-col-with-margin {
        width: calc(#{$three-fourth-col-width} - calc(#{$col-horizontal-margin} * 2));
    }
    .three-fourth-col {
        width: $three-fourth-col-width;
    }

    $two-third-col-width: 100%;
    .two-third-col-with-margin {
        width: calc(#{$two-third-col-width} - calc(#{$col-horizontal-margin} * 2));
    }
    .two-third-col {
        width: $two-third-col-width;
    }

    $one-third-col-width: 50%;
    #archive .slider-item.experience,
    #gallery-slider .slider-item.experience,
    #event-slider .slider-item.experience,
    #my-galleries-slider .slider-item.experience,
    #icon-box-container .slider-item.experience {
        width: calc(#{$one-third-col-width} - calc(#{$col-horizontal-margin-experience} * 2));
    }
    .one-third-col-with-margin {
        width: calc(#{$one-third-col-width} - calc(#{$col-horizontal-margin} * 2));
    }
    .one-third-col {
        width: $one-third-col-width;
    }

    $one-fourth-col-width: 50%;
    #product-slider .slider-item.experience,
    #artist-slider .slider-item.experience,
    .default-slider-section.experience .slider-title-box {
        width: calc(#{$one-fourth-col-width} - calc(#{$col-horizontal-margin-experience} * 2));
    }

    .one-fourth-col-with-margin {
        width: calc(#{$one-fourth-col-width} - calc(#{$col-horizontal-margin} * 2));
    }
    .one-fourth-col {
        width: $one-fourth-col-width;
    }

    $one-fifths-col-width: 50%;
    .category-filter-item {
        width: calc(#{$one-fifths-col-width} - 1rem);
    }
    #recent-viewed-slider .slider-item.experience,
    #represented-artists-slider .slider-item.experience {
        width: calc(#{$one-fifths-col-width} - calc(#{$col-horizontal-margin-experience} * 2));
    }
    .one-fifths-col-with-margin {
        width: calc(#{$one-fifths-col-width} - calc(#{$col-horizontal-margin} * 2));
    }
    .one-fifths-col {
        width: $one-fifths-col-width;
    }

    /* Homepage First Viewport */
    $home-box-padding: 3rem;
    .home-box-options {
        margin: 0 #{$home-box-padding} calc(#{$home-box-padding} / 2) #{$home-box-padding};
    }
    .home-box-cog i {
        padding: #{$home-box-padding} #{$home-box-padding} calc(#{$home-box-padding} / 2) #{$home-box-padding};
    }
    .home-box-menu {
        width: calc(100% + #{$home-box-padding} + 2rem);
    }
    .home-box-overlay {
        padding: $home-box-padding;
    }


    /* ----------------------- Header */
    #main-navbar.fixed {
        position: relative;
        transform: unset;
    }
    #mobile-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    #small-logo-container {
        text-align: left;
    }
    #small-logo-container img {
        max-height: $mobile-small-logo-height;
    }
    #mobile-icon {
        display: block;
    }
    #main-nav {
        display: none;
        width: calc(100% + #{$boxed-container-horizontal-offset} * 2);
        margin-left: calc(-1 * #{$boxed-container-horizontal-offset});
        margin-right: calc(-1 * #{$boxed-container-horizontal-offset});
        background-color: $mobile-menu-color-overlay;
    }
    #main-nav.show {
        display: block;
    }
    #main-nav li {
        display: block;
        text-align: right;
        align-self: unset;
    }
    #main-nav a {
        width: 100%;
        text-align: right;
    }
    #main-navbar li ul {
        display: block;
        position: relative;
        max-height: unset;
        padding: 0;
        left: 0;
        background-color: $mobile-menu-color-overlay;
    }
    #main-navbar li ul a {
        padding-right: calc(#{$main-menu-link-horizontal-padding} * 2);
    }
    #main-menu ul,
    #account-menu ul {
        display: block;
        width: 100%;
    }
    .child-arrow:after {
        display: none;
    }
    #upper-header {
        display: none;
    }
    #header-search .boxed-container {
        padding: 0 !important;
    }
    #main-header .glutstrap-form input {
        width: 100%;
    }
    #main-header .glutstrap-form select {
        flex-grow: 1;
    }
    #payoff-container,
    #header-search-container {
        width: 100%;
    }
    #payoff-container {
        display: none;
        padding-top: $main-menu-link-vertical-padding;
        padding-bottom: $main-menu-link-vertical-padding;
    }
    /* Page Header */
    .title-wrap {
        max-width: 100%;
    }
    /* Product Sheet */
    .tab-menu {
        max-width: 100%;
        margin-top: 0 !important;
        margin-right: 0;
        padding-right: 0;
        border-right: none;
    }
    #default-sheet-buy .purchase-row .default-sheet-row-cell:first-child {
        width: 100%;
    }
    #default-sheet-buy .purchase-row .payment-logo {
        margin-top: 1rem;
    }
    /* Sidebar */
    #archive-sidebar.show {
        display: none;
    }
    .sidebar {
        width: calc(100% + calc(#{$col-horizontal-margin} * 2));
        margin-left: calc(-1 * #{$col-horizontal-margin});
        margin-right: calc(-1 * #{$col-horizontal-margin});
        display: flex;
        flex-wrap: wrap;
    }
    .widget {
        width: calc(50% - calc(#{$col-horizontal-margin} * 2));
        margin-left: $col-horizontal-margin;
        margin-right: $col-horizontal-margin;
    }
    /* Masonry */
    .masonry-container {
        column-count: 2 !important;
    }
    /* Homepage */
    .home-col-row {
        flex-wrap: wrap;
    }
    #home-box-2,
    #home-box-3 {
        width: 50%;
    }
}

@media (max-width: $screen-sm-max) {
    /* ----------------------- Variables */
    :root {
        /* Containers */
        --container-vertical-padding: 3rem;
        /* Columns */
        --one-half-col-width: 100%;
        --one-third-col-width: 100%;
        --one-fourth-col-width: 100%;
        --one-fifths-col-width: 100%;
        --home-box-padding: 2rem;
    }
        
    /* ###############
    Fix SCSS variables
    ############### */

    /* Containers */
    $container-vertical-padding: 3rem;
    .press-container {
        margin-top: $container-vertical-padding;
    }
    blockquote {
        margin-top: $container-vertical-padding;
        margin-bottom: $container-vertical-padding;
    }
    #main-footer .col-container {
        //padding-bottom: calc(#{$container-vertical-padding} * 2);
        padding-bottom: calc(#{$container-vertical-padding} * 1);
    }

    .container-vertical-padding-bottom {
        padding-bottom: $container-vertical-padding;
    }
    .container-vertical-padding-top {
        padding-top: $container-vertical-padding;
    }

    /* Columns */
    $one-half-col-width: 100%;
    .one-half-col-with-margin {
        width: calc(#{$one-half-col-width} - calc(#{$col-horizontal-margin} * 2));
    }
    .one-half-col {
        width: $one-half-col-width;
    }
    .info-box-col {
        width: $one-half-col-width;
    }
    .info-box-item-1 {
        width: $one-half-col-width;
    }

    $one-third-col-width: 100%;
    #archive .slider-item.experience,
    #gallery-slider .slider-item.experience,
    #event-slider .slider-item.experience,
    #my-galleries-slider .slider-item.experience,
    #icon-box-container .slider-item.experience {
        width: calc(#{$one-third-col-width} - calc(#{$col-horizontal-margin-experience} * 2));
    }

    .one-third-col-with-margin {
        width: calc(#{$one-third-col-width} - calc(#{$col-horizontal-margin} * 2));
    }
    .one-third-col {
        width: $one-third-col-width;
    }

    $one-fourth-col-width: 100%;
    #product-slider .slider-item.experience,
    #artist-slider .slider-item.experience,
    .default-slider-section.experience .slider-title-box {
        width: calc(#{$one-fourth-col-width} - calc(#{$col-horizontal-margin-experience} * 2));
    }

    .one-fourth-col-with-margin {
        width: calc(#{$one-fourth-col-width} - calc(#{$col-horizontal-margin} * 2));
    }
    .one-fourth-col {
        width: $one-fourth-col-width;
    }

    $one-fifths-col-width: 100%;
    .category-filter-item {
        width: calc(#{$one-fifths-col-width} - 1rem);
    }
    #recent-viewed-slider .slider-item.experience,
    #represented-artists-slider .slider-item.experience {
        width: calc(#{$one-fifths-col-width} - calc(#{$col-horizontal-margin-experience} * 2));
    }
    .one-fifths-col-with-margin {
        width: calc(#{$one-fifths-col-width} - calc(#{$col-horizontal-margin} * 2));
    }
    .one-fifths-col {
        width: $one-fifths-col-width;
    }

    $home-box-padding: 2rem;
    .home-box-options {
        margin: 0 #{$home-box-padding} calc(#{$home-box-padding} / 2) #{$home-box-padding};
    }
    .home-box-cog i {
        padding: #{$home-box-padding} #{$home-box-padding} calc(#{$home-box-padding} / 2) #{$home-box-padding};
    }

    .home-box-menu {
        width: calc(100% + #{$home-box-padding} + 2rem);
    }
    .home-box-overlay {
        padding: $home-box-padding;
    }
    
    #main-header input[type="search"],
    #main-header form select {
        width: 50%;
    }
    /* Page Header */
    .title-wrap {
        max-width: 100%;
    }
    /* Product Sheet */
    #default-sheet-meta .default-sheet-col,
    #default-sheet-info .default-sheet-row-cell,
    .preview-section .default-sheet-row-cell {
        width: 100%;
    }
    .default-sheet-row {
        flex-wrap: wrap;
    }
    .default-sheet-col {
        margin: $default-sheet-row-margin 0;
    }
    .default-sheet-col:first-child {
        margin-top: 0;
    }
    .default-sheet-col:last-child {
        margin-bottom: 0;
    }
    .default-sheet-row-cell:last-child {
        margin-left: 0;
    }
    #default-sheet-meta .default-sheet-col:last-child {
        align-items: flex-start;
    }
    #title-note .default-sheet-row-cell:last-child {
        text-align: left;
    }
    /* Archive */
    #archive-header .default-sheet-row-cell {
        width: 100%;
    }
    /* Archive Sidebar */
    .sidebar {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        display: block;
    }
    .widget {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    /* Alphabetic Menu */
    #header-secondary-menu {
        text-align: center;
    }
    /* Masonry */
    .masonry-container {
        column-count: 1 !important;
        column-gap: unset !important;
    }
    /* Homepage */
    .home-col,
    .home-col-row,
    .home-box {
        width: 100% !important;
        height: unset !important;
        min-height: 33.33vh;
        margin: 0;
    }
    .home-box-overlay {
        height: unset;
    }
    .home-box-menu,
    .home-box-txt {
        display: none;
    }
    /* Featured Section */
    .featured-section-item-txt {
        padding: $col-horizontal-margin;
    }
    /* Icon Box */
    .icon-box-horizontal-item-img {
        width: 100%;
        margin-right: 0;
        margin-bottom: $col-vertical-margin;
        display: flex;
        justify-content: center;
    }
    .icon-box-horizontal-item-txt {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .horizontal-icon-box-container .col {
        width: 100%;
        display: block;
    }

    /* Cart */
    #cart table tr:first-child {
        display: none;
    }
    #cart table tr {
        display: block;
        margin-bottom: $col-vertical-margin;
        border: 1px solid $title-color;
    }
    #cart table tr:last-child {
        margin-bottom: 0;
    }
    #cart table tr td {
        display: block;
        max-width: unset;
        width: 100%;
        border-top: $main-border !important;
        border-bottom: none !important;
        border-left: $main-border !important;
        border-right: $main-border !important;
    }
    #cart table tr td:last-child {
        border-bottom: $main-border !important;
    }
    #cart .cart-table-int {
        display: inline-block;
    }
    #cart .cart-box .default-sheet-row-cell {
        width: 100%;
    }
    .cart-item {
        padding: 2rem;
    }
    /* Services */
    .services-list-row {
        flex-wrap: wrap;
    }
    /* Footer */
    #main-footer .footer-col .icon-container i {
        height: 4rem;
        width: 4rem;
        font-size: 2rem;
    }
    #main-footer .footer-col ul {
        display: block;
    }
    #main-footer .footer-col li {
        margin: 0;
        display: block;
    }
    #main-footer .footer-col li a {
        padding: 0.5rem;
    }
    #main-footer .footer-col li a:after {
        display: none;
    }
    /* Thumb Row */
    .my-gallery-thumb-row {
        width: calc(100% + 1rem);
        margin-top: 0.5rem;
        margin-left: -0.5rem;
        margin-right: -0.5rem;
        justify-content: center;
    }
}





/* ==========================================================================
Media Queries variations
========================================================================== */

//Isotope Grid
.grid {
    background: #EEE;
    background: white;
    /*background-color: white;*/
    /*max-width: 1200px;*/
}

//Isotope clear fix
.grid:after {
    content: '';
    display: block;
    clear: both;
}

//Isotope item
.item {
    background-color: white;
    text-align: left;
    color: #fff;
    height: auto;
    width: 31.3%;
    overflow: hidden;
    display: block;
    margin: 1%;
}

.item .content {
    display: inline-block;
}

@media (max-width: $screen-lg-max) {
    //Isotope item
    .item {
        width: 48%;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 1%;
        margin-right: 1%;
    }
}

@media (max-width: $screen-sm-max) {
    //Isotope item
    // .item {
    // 	width: 100%;
    // 	margin-top: 1%;
    // 	margin-bottom: 1%;
    // 	margin-left: 0;
    // 	margin-right: 0;
    // }
}


/* ==========================================================================
Media Queries variations
========================================================================== */

// default states
.current-menu-item ul li a {
    color: $title-color !important;
}

.current-menu-item>a {
    color: $main-color !important;
}

@media (max-width: $screen-sm-max) {
    #main-nav {
        background-color: $main-navbar-bg;
    }
    #main-nav a {
        text-align: left;
        margin-left: 20px;
        color: white;
    }
    #main-nav ul li ul {
        margin-left: 20px;
    }
    .current-menu-item ul li a {
        color: white !important;
    }
    .current-menu-item>a {
        color: $main-color !important;
    }
}

@media (max-width: $screen-sm-max) {
    .home-box-overlay {
        opacity: 1;
    }
}

// vertical queries
@media (max-height: 700px) {
    #home-container .home-box-menu {
        // display: none; // fix for browser with low browser height
    }
}
