// http://meyerweb.com/eric/tools/css/reset/
//  v2.0 | 20110126
//  License: none (public domain)

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
// HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// lab villa

html {
  width: 100%;
  font-size: 10px;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;
  font-family: $main-font;
  font-size: $p-font-size;
  line-height: $p-line-height;
  font-weight: normal;
  color: $p-color;
  backface-visibility: hidden;
}

div,
header,
nav,
section,
footer,
a,
ul,
li,
*,
*:before,
*:after,
table,
tr,
td,
input {
  box-sizing: border-box;
  white-space: normal;
  backface-visibility: hidden;
}

div {
  display: block;
  position: relative;
}

input,
textarea,
:focus {
  outline: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}

header ::-moz-selection {
  background: transparent;
}

header ::selection {
  background: transparent;
}

img {
  border-style: none;
}

hr {
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
  background-color: rgba(0, 0, 0, 0.15);
}

.iframe-container {
  width: 100%;
  margin-top: calc(#{$col-vertical-margin} * 2);
  margin-bottom: calc(#{$col-vertical-margin} * 2);
}

.iframe-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

// custom resets
input[type='submit'] {
  border-radius: 0 !important;
  -webkit-appearance: none !important;
  -webkit-tap-highlight-color: transparent !important;
}

input[type='checkbox'] { 
  -webkit-appearance: checkbox !important;
}
input[type='radio'] { 
  -webkit-appearance: radio !important;
}
