// lab villa
h1 {
    margin: $h1-margin 0;
    font-size: $h1-font-size;
    color: $title-color;
}

h2 {
    margin: $h2-margin 0;
    font-size: $h2-font-size;
    color: $title-color;
}

h3 {
    margin: $h3-margin 0;
    font-size: $h3-font-size;
    color: $title-color;
}

h4 {
    margin: $h4-margin 0;
    font-size: $h4-font-size;
    color: $title-color;
}

h5 {
    margin: $h5-margin 0;
    font-size: $h5-font-size;
    color: $title-color;
}

h6 {
    margin: $h6-margin 0;
    font-size: $h6-font-size;
    color: $title-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    display: block;
    font-family: $title-font;
    font-weight: $title-font-weight;
    line-height: $title-line-height;
    color: $title-color;
}

.container h1:first-child,
.container h2:first-child,
.container h3:first-child,
.container h4:first-child,
.container h5:first-child,
.container h6:first-child {
    margin-top: 0;
}

p {
    margin-top: $p-margin;
    margin-bottom: $p-margin;
    font-family: $p-font;
    font-size: $p-font-size;
    line-height: $p-line-height;
    font-weight: normal;
    color: $p-color;
}

p:first-child {
    margin-top: 0;
}

p:last-of-type {
    margin-bottom: 0;
}

a {
    display: inline-block;
    font-family: inherit;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    color: $link-color;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

a:hover {
    color: $link-hover-color;
}

strong {
    font-weight: bold;
}

.small-p {
    font-size: $small-p-font-size;
    line-height: $small-p-line-height;
}

.dark-text {
    color: $dark-text-color;
}

.secondary-link {
    color: $secondary-link-color;
}

a.secondary-link:hover {
    color: $link-hover-color;
}

.main-color-txt {
    color: $main-color;
}


.h1 {
    display: block;
    margin: $h1-margin 0;
    font-size: $h1-font-size;
    font-family: $title-font;
    font-weight: $title-font-weight;
    line-height: $title-line-height;
    color: $title-color;
}

i:not(.fa),
em {
   font-style: italic !important;
}