/*----------------------------------------------------------------------------*/
/*                                  Spacings                                  */
/*----------------------------------------------------------------------------*/
$min-space: 8px;
$base-space: 16px;
$small-space: 32px;
$medium-space: 64px;
$large-space: 96px;
$extra-space: 120px;


/*-------------------------*/
/* Media Queries      */
/*-------------------------*/

// media queries
$small-screen: 48em; // (variable, in bootstrap standard is 576px)
$medium-screen: 62em; // (variable, in bootstrap standard is 768px)
$large-screen: 75em; // (variable, in bootstrap standard is 992px)
$extra-screen: 82em; // (variable, in bootstrap standard is 1200px)

$small: "screen and (min-width: #{$small-screen})";
$medium: "screen and (min-width: #{$medium-screen})";
$large: "screen and (min-width: #{$large-screen})";
$extra: "screen and (min-width: #{$extra-screen})";

$until-small: "screen and (max-width: #{$small-screen})";
$until-medium: "screen and (max-width: #{$medium-screen})";
$until-large: "screen and (max-width: #{$large-screen})";
$until-extra: "screen and (max-width: #{$extra-screen})";


