// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
