/* ==========================================================================
Skin: Black Variations
========================================================================== */

/* skin-black navbar */
.skin-black .main-header {
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}

.skin-black .main-header .navbar-toggle {
    color: #333;
}

.skin-black .main-header .navbar-brand {
    color: #333;
    border-right: 1px solid #eee;
}

.skin-black .main-header .navbar {
    background-color: black;
}

.skin-black .main-header .navbar .nav>li>a {
    color: #ffffff;
}

.skin-black .main-header .navbar .nav>li>a:hover,
.skin-black .main-header .navbar .nav>li>a:active,
.skin-black .main-header .navbar .nav>li>a:focus,
.skin-black .main-header .navbar .nav .open>a,
.skin-black .main-header .navbar .nav .open>a:hover,
.skin-black .main-header .navbar .nav .open>a:focus,
.skin-black .main-header .navbar .nav>.active>a {
    background: #222222;
    color: #ffffff;
}

.skin-black .main-header .navbar .sidebar-toggle {
    color: #333333;
}

.skin-black .main-header .navbar .sidebar-toggle:hover {
    color: #999999;
    background: black;
}

.skin-black .main-header .navbar>.sidebar-toggle {
    color: #ffffff;
    border-right: 1px solid black;
}

.skin-black .main-header .navbar .navbar-nav>li>a {
    border-right: 1px solid #eee;
}

.skin-black .main-header .navbar .navbar-custom-menu .navbar-nav>li>a,
.skin-black .main-header .navbar .navbar-right>li>a {
    border-left: 1px solid black;
    border-right-width: 0;
}

.skin-black .main-header>.logo {
    background-color: black;
    color: #ffffff;
    border-bottom: 0 solid transparent;
    border-right: 1px solid #222D32;
}

.skin-black .main-header>.logo:hover {
    background-color: #222222;
}

@media (max-width: 767px) {
    .skin-black .main-header>.logo {
        background-color: #222222;
        color: #ffffff;
        border-bottom: 0 solid transparent;
        border-right: none;
    }
    .skin-black .main-header>.logo:hover {
        background-color: #222222;
    }
}

.skin-black .main-header li.user-header {
    background-color: #222;
}

.skin-black .content-header {
    background: transparent;
    box-shadow: none;
}

.skin-black .wrapper,
.skin-black .main-sidebar,
.skin-black .left-side {
    background-color: #222d32;
}

.skin-black .user-panel>.info,
.skin-black .user-panel>.info>a {
    color: black;
}

.skin-black .sidebar-menu>li.header {
    color: #4b646f;
    background: #1a2226;
}

.skin-black .sidebar-menu>li>a {
    border-left: 3px solid transparent;
}

.skin-black .sidebar-menu>li:hover>a,
.skin-black .sidebar-menu>li.active>a,
.skin-black .sidebar-menu>li.menu-open>a {
    color: white;
    background: #1e282c;
}

.skin-black .sidebar-menu>li.active>a {
    border-left-color: black;
}

.skin-black .sidebar-menu>li>.treeview-menu {
    margin: 0 1px;
    background: #2c3b41;
}

.skin-black .sidebar a {
    color: #b8c7ce;
}

.skin-black .sidebar a:hover {
    text-decoration: none;
}

.skin-black .sidebar-menu .treeview-menu>li>a {
    color: #8aa4af;
}

.skin-black .sidebar-menu .treeview-menu>li.active>a,
.skin-black .sidebar-menu .treeview-menu>li>a:hover {
    color: black;
}

.skin-black .sidebar-form {
    border-radius: 3px;
    border: 1px solid #374850;
    margin: 10px 10px;
}

.skin-black .sidebar-form input[type="text"],
.skin-black .sidebar-form .btn {
    box-shadow: none;
    background-color: #374850;
    border: 1px solid transparent;
    height: 35px;
}

.skin-black .sidebar-form input[type="text"] {
    color: #666;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
}

.skin-black .sidebar-form input[type="text"]:focus,
.skin-black .sidebar-form input[type="text"]:focus+.input-group-btn .btn {
    background-color: #fff;
    color: #666;
}

.skin-black .sidebar-form input[type="text"]:focus+.input-group-btn .btn {
    border-left-color: #fff;
}

.skin-black .sidebar-form .btn {
    color: #999;
    border-top-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0;
}

.skin-black .pace .pace-progress {
    background: #222;
}

.skin-black .pace .pace-activity {
    border-top-color: #222;
    border-left-color: #222;
}

.skin-black .sidebar-menu .treeview-menu>li.active>a,
.skin-black .sidebar-menu .treeview-menu>li>a:hover {
    color: white;
}

.skin-black .sidebar-menu>li:hover>a,
.skin-black .sidebar-menu>li.active>a,
.skin-black .sidebar-menu>li.menu-open>a {
    color: white;
    background: #48b6ac;
}

.skin-black .sidebar-menu .treeview-menu>li.active>a,
.skin-black .sidebar-menu .treeview-menu>li>a:hover {
    color: #48b6ac;
}

//Customs Mods
// Green Variation
.box.box-solid.box-primary {
    border: 1px solid #48b6ac;
}

.box.box-solid.box-primary>.box-header {
    color: #fff;
    background: #48b6ac;
    background-color: #48b6ac;
}

.btn-primary {
    background-color: #222D32;
    border-color: #222D32;
}

.skin-black .sidebar-menu .treeview-menu>li.active>a,
.skin-black .sidebar-menu .treeview-menu>li>a:hover {
    color: white;
}

.skin-black .main-header .navbar>.sidebar-toggle {
    color: white;
}

.select2-container .select2-selection--single {
    height: 34px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 34px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: #333;
}

.sidebar .user-panel .info,
.sidebar .user-panel .info a,
.skin-black .sidebar-menu>li.header {
    color: white;
}

.widget-repeater-container {
    & .dragged {
        position: absolute;
        opacity: 0.5;
        z-index: 2000;
    }
    & ol.example li.placeholder {
        position: relative;
        /** More li styles **/
    }
    & ol.example li.placeholder:before {
        position: absolute;
        /** Define arrowhead **/
    }
}

.widget-time-repeater {
    & .dragged {
        position: absolute;
        opacity: 0.5;
        z-index: 2000;
    }
    & ol.example li.placeholder {
        position: relative;
        /** More li styles **/
    }
    & ol.example li.placeholder:before {
        position: absolute;
        /** Define arrowhead **/
    }
}

.widget-repeater-link-container {
    & .dragged {
        position: absolute;
        opacity: 0.5;
        z-index: 2000;
    }
    & ol.example li.placeholder {
        position: relative;
        /** More li styles **/
    }
    & ol.example li.placeholder:before {
        position: absolute;
        /** Define arrowhead **/
    }
}

// Widgets
.widget-repeater-link-container {
    list-style: none;
    padding-left: 0;
    & input,
    & .select2-container,
    & .fa-arrows {
        margin-bottom: 10px;
    }
    & .item-link {
        background: #efefef;
        border: 1px solid gray;
        padding: 8px;
        margin-bottom: 8px;
        border-radius: 4px;
    }
}

.widget-time-repeater-container {
    list-style: none;
    padding-left: 0;
    & input,
    & .select2-container,
    & .fa-arrows {
        margin-bottom: 10px;
    }
    & .item-time {
        background: #efefef;
        border: 1px solid gray;
        padding: 8px;
        margin-bottom: 8px;
        border-radius: 4px;
    }
}

.widget-repeater-container {
    list-style: none;
    padding-left: 0;
    & input,
    & .select2-container,
    & .fa-arrows {
        margin-bottom: 10px;
    }
    & .item-drop {
        background: #efefef;
        border: 1px solid gray;
        padding: 8px;
        margin-bottom: 8px;
        border-radius: 4px;
    }
}

//Spinner loader
.block-loader {
    display: none;
    position: absolute;
    background: #333;
    opacity: 0.3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    color: #fff;
    & .block-loader__icon-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 25px;
        height: 25px;
    }
}

.block-loader i {
    color: #fff;
    font-size: 25px;
}

// data Tabels
.dataTables_processing {
    border: 0;
    box-shadow: none;
}

.dataTables_processing::before {
    content: ' ';
    position: relative;
    background: red;
    width: 10px;
    height: 10px;
    display: inline-block;
    background: transparent !important;
    background-image: url('/images/loading.gif') !important;
    background-size: cover !important;
    background-position: center center !important;
    margin-right: 6px;
}

// inputs
.select2 {
    width: 100% !important;
}

// Dragger Placeholder (visible on dragging action)
li.placeholder {
    display: block !important;
}

li.placeholder::before {
    content: "Place here => ";
    color: red;
    font-weight: bold;
}

.render-container iframe {
    width: 100% !important;
    height: auto !important;
}

// Input Labels
label.error {
    color: red !important;
}

form .error {
    color: #ff0000;
}

// Input Select2
.select2 {
    width: 100% !important;
}

.form-control.inline {
    display: inline-block;
    width: auto;
}

.horizontal-space-sm {
    padding-left: 4px;
}

.horizontal-space-md {
    padding-left: 8px;
}

.horizontal-space-lg {
    padding-left: 16px;
}


/* ==========================================================================
Home Layout
========================================================================== */

.home-section .block {
    position: relative;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background: transparent !important;
    background-image: url('/images/placeholder.png') !important;
    background-size: cover !important;
    background-position: center center !important;
}

.home-section .block1,
.home-section .block2,
.home-section .block3 {
    height: 208px;
}

.home-section .block4 {
    height: 250px;
}

.home-section .block5 {
    height: 166px;
}

.home-section .block-edit {
    position: absolute;
    top: 5px;
    right: 5px;
}

.home-layout {
    & .block {
        height: auto;
        min-height: 200px;
    }
    & .block .title,
    & .block ul {
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 4px 8px;
        display: inline-block;
        border-radius: 4px;
        list-style: none;
        margin-bottom: 10px;
        width: auto;
        position: relative;
    }
}

#table-posts_filter input {
    margin-left: 10px;
}


/* ==========================================================================
Panels
========================================================================== */
.btn-file {
    top: 10px !important;
}


/* ==========================================================================
Custom cell formatting
========================================================================== */
// reference column
.cell-reference {
    font-family: 'Lucida Console', Monaco, monospace, monospace !important;
    font-size: 12px !important;
}

// edit button td width fix
.dataTable .cell-options {
    min-width: 100px;
    white-space: nowrap;
    word-break: break-all;
}

// search fix
.dataTables_filter input[type="search"] {
    margin-left: 10px;
}
select[readonly].select2 + .select2-container {
    pointer-events: none;
    touch-action: none;
}
select[readonly].select2 + .select2-container .select2-selection {
    background: #eee;
    box-shadow: none;
}
select[readonly].select2 + .select2-container .select2-selection__arrow,
select[readonly].select2 + .select2-container .select2-selection__clear {
    display: none;
}

// custom
.spacer {
    height: 40px;
    display: block;
    position: relative;
}

.error {
    color: red !important;
}
.warning {
    color: orange !important;
}
.success {
    color: green !important;
}

.content-wrapper .content {
    min-heigh: 100vh;
    padding-bottom: 40px;
}
.treeview-menu {
    padding-left: 25px;
}


// DataTable missing sorting icons
table.dataTable thead .sorting { background: url('/images/datatable/sort_both.png') no-repeat center right; }
table.dataTable thead .sorting_asc { background: url('/images/datatable/sort_asc.png') no-repeat center right; }
table.dataTable thead .sorting_desc { background: url('/images/datatable/sort_desc.png') no-repeat center right; }
table.dataTable thead .sorting_asc_disabled { background: url('/images/datatable/sort_asc_disabled.png') no-repeat center right; }
table.dataTable thead .sorting_desc_disabled { background: url('/images/datatable/sort_desc_disabled.png') no-repeat center right; }

.caption-home-sections {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3px 8px;
    display: inline-block;
    border-radius: 4px;
    list-style: none;
    width: auto;
    position: absolute;
    bottom: 0;
    font-size: 10px;
    left: 0;
}