
/* ----------------------------------------------Boxes */
.square-box,
.wide-box,
.vertical-box {
    position: relative;
    overflow: hidden;
}

.square-box:before {
    content: "";
    display: block;
    padding-top: $square-box;
}

.wide-box:before {
    content: "";
    display: block;
    padding-top: $wide-box;
}

.vertical-box:before {
    content: "";
    display: block;
    padding-top: $vertical-box;
}

.square-box div:first-child,
.wide-box div:first-child,
.vertical-box div:first-child {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: $col-vertical-padding;
    padding-bottom: $col-vertical-padding;
    padding-left: $col-horizontal-padding;
    padding-right: $col-horizontal-padding;
}
