/* ---------------------------------------------- Footer */

#main-footer .col-container {
    //padding-bottom: calc(#{$container-vertical-padding} * 2);
    padding-bottom: calc(#{$container-vertical-padding} * 1);
}

#main-footer li,
#main-footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#main-footer .col {
    background-color: transparent;
    flex-grow: unset;
}

#main-footer a {
    font-family: $title-font;
    font-weight: $title-font-weight;
    line-height: $title-line-height;
}

#main-footer .footer-col {
    text-align: center;
}

#main-footer .footer-col ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#main-footer .footer-col li {
    display: flex;
    margin-right: 1rem;
}

#main-footer .footer-col li:last-child {
    margin-right: 0;
}

#main-footer .footer-col li a:after {
    content: "|";
    display: inline-block;
    margin-left: 1rem;
}

#main-footer .footer-col li:last-child a:after {
    display: none;
}

#main-footer .footer-col li a {
    display: block;
    color: $title-color;
}

#main-footer .footer-col li a:hover {
    color: $main-color;
}

#main-footer .footer-col .icon-container i {
    margin-right: 1rem;
    padding: 0.5rem;
    height: 5rem;
    width: 5rem;
    font-size: 2.5rem;
    line-height: 100%;
    border-radius: 100%;
    border: 1px solid $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 0.2s ease-in-out;
}

#main-footer .footer-col .icon-container a:hover i {
    border: 1px solid $link-hover-color;
}

#main-footer .footer-col .icon-container a:last-child i {
    margin-right: 0;
}

#main-footer .footer-widget {
    margin-bottom: calc(#{$col-vertical-margin} * 2);
}

#main-footer .footer-widget:nth-child(2) {
    margin-bottom: 0;
}

#main-footer .footer-widget:nth-child(2) a {
    color: $p-color;
}

#credits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-top: $main-border;
}

.credits-txt {
    padding: $col-vertical-padding 0;
}

.credits-app img {
    max-height: 3rem;
    width: auto;
    display: inline-block;
    margin-right: 1rem;
}

.credits-app a:last-child img {
    margin-right: 0;
}

.credits-app,
#credits .icon-container {
    padding: $col-vertical-padding 0;
}

//Footer sub menus
#main-footer .footer-sub-menu ul,
#main-footer .footer-sub-menu li {
    user-select: none;
    cursor: pointer ;
}
#main-footer .footer-sub-menu .footer-sub-menu-macro {
    display: block;
    font-family: "Muli", sans-serif;
    font-weight: bold;
    line-height: 120%;
    color: #222;
    margin: 1rem 0;
    margin-top: 0;
    font-size: 2rem;
    font-family: "Muli", sans-serif;
    font-weight: bold;
    line-height: 120%;
    font-size: 100%;
    text-transform: uppercase;
}
#main-footer .footer-sub-menu .footer-sub-menu-macro:after {
    content: "\f077";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 10px;
    position: relative;
    padding-left: 10px;
    //display: none; /*disattivo chiusura*/
}
#main-footer .footer-sub-menu.submenu-opened .footer-sub-menu-macro:after {
    content: "\f078";
    font-family: FontAwesome;
}
#main-footer .footer-sub-menu .footer-sub-menu-subs {
    display: none;
}
#main-footer .footer-sub-menu.submenu-opened .footer-sub-menu-subs {
    display: block;
}
#main-footer .footer-sub-menu .footer-sub-menu-subs li {
    list-style: circle;
    list-style-position: inherit;
}
#main-footer .footer-sub-menu-subs li {
    list-style: circle;
    list-style-position: inherit;
    margin-left: 18px;
}
#main-footer .footer-sub-menu-subs {
    margin-bottom: 20px;
    bottom: 0;
    top: 0;
}
#main-footer .footer-sub-menu-subs li,
#main-footer .footer-sub-menu .footer-sub-menu-subs li {
    list-style: none;
    //margin-left: 0;
}
#main-footer .footer-sub-menu-subs li a {
    color: #000;
    font-weight: normal;
    cursor: pointer;
    font-size: 90%;
}
#main-footer .footer-sub-menu-subs li a:hover {
    color: #48b6ac;
}
#main-footer .footer-sub-menu-subs li a b {
    font-weight: bold;
}
#main-footer .footer-direct-link,
#main-footer .footer-sub-menu-macro {
    color: #000;
    font-weight: normal !important;
    cursor: pointer;
    font-size: 90% !important;
    font-family: "Muli", sans-serif;
    line-height: 2 !important;
    display: block;
    text-transform: capitalize !important;
    margin-bottom: 0 !important;
}
#main-footer h3 {
    display: block;
    color: #222;
    margin: 0;
    font-family: "Muli", sans-serif;
    font-weight: bold;
    line-height: 2 !important;
    font-size: 90% !important;
    text-transform: uppercase;
}
#main-footer .footer-sub-menu-subs {
    margin-bottom: 0 ;
}
#main-footer .footer-sub-menu-subs li {
    margin-left: 14px ;
}
#main-footer .footer-direct-link b {
    font-weight: bold ;
}
#main-footer .footer-direct-link,
#main-footer .footer-sub-menu-subs li a {
    width: 90%;
    max-width: 90%;
}

// desktop variations
@media (max-width: 1199px) {
    #main-footer .one-fifths-col {
        width: 20%;
        margin-bottom: 40px;
    }
    #main-footer .footer-direct-link,
    #main-footer .footer-sub-menu-subs li a {
        width: 90%;
        max-width: 90%;
    }
}

// mobile / tablet variations
@media (max-width: 767px) {
    #main-footer .one-fifths-col {
        width: 100%;
        margin-bottom: 10px;
    }
    #main-footer .footer-direct-link,
    #main-footer .footer-sub-menu-subs li a {
        width: 100%;
        max-width: none;
    }
    #main-footer .footer-my-account-menu .footer-direct-link {
        display: inline-block ;
    }

    // macro-menu variations on mobile (secondary toggle)
    #main-footer .footer-section-title {
        text-align: center;
    }
    #main-footer .one-fifths-col .footer-section-title:after {
        content: "\f077";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        font-size: 10px;
        position: relative;
        padding-left: 10px;
    }
    #main-footer .one-fifths-col.macromenu-opened .footer-section-title:after {
        content: "\f078";
        font-family: FontAwesome;
    }
    #main-footer .one-fifths-col .footer-direct-link,
    #main-footer .one-fifths-col .footer-sub-menu {
        max-height: 0;
        overflow: hidden;
    }
    #main-footer .one-fifths-col.macromenu-opened .footer-direct-link,
    #main-footer .one-fifths-col.macromenu-opened .footer-sub-menu {
        max-height: none;
    }
    .one-fifths-col {
        text-align: center;
    }

    .footer-sub-menu-subs li {
        margin-left: 0 !important;
    }
}

