/* ---------------------------------------------- Form */

form textarea,
form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="search"] {
    max-width: 100%;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    font-family: $p-font;
    font-size: $p-font-size;
    line-height: $p-line-height;
    font-weight: normal;
    color: $p-color;
    border: $form-input-border;
    background-color: $form-input-bg;
    -webkit-appearance: none;
}

select,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="number"] {
    margin: 1rem 0;
    padding: 0.4rem 1rem;
    font-family: $p-font;
    font-size: $p-font-size;
    line-height: $p-line-height;
    font-weight: normal;
    color: $title-color;
    outline: none;
    border: $main-border;
    -webkit-appearance: none;
}

input[type="checkbox"] {
    margin-top: 0;
    margin-bottom: 0;
}

select:first-child,
input:first-child {
    margin-top: 0;
}

form textarea,
form input[type="text"],
form input[type="email"] {
    width: 100%;
    background-color: $newsletter-input-bg-color !important;
    -webkit-appearance: none;
}

.form-privacy {
    margin-top: $p-margin;
    margin-bottom: $p-margin;
}

.form-privacy input[type="checkbox"] {
    margin: 0 0.5rem 0 0;
    vertical-align: middle;
}

.search-button {
    width: 4rem;
    margin: 0 !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    color: #fff;
    background-color: $main-color;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.search-button:hover {
    background-color: $link-hover-color;
}

.k-form textarea,
.k-form input[type="text"],
.k-form input[type="email"],
.k-form input[type="password"],
.k-form input[type="search"],
.k-form input[type="tel"],
.k-form select {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    font-family: $p-font;
    font-size: $p-font-size;
    line-height: $p-line-height;
    font-weight: normal;
    color: $p-color;
    border: $form-input-border;
    background-color: $form-input-bg;
    -webkit-appearance: none;
}


.k-form select{
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 7px), calc(100% - 15px) calc(1em + 7px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 2.2em;
    background-repeat: no-repeat;
}

.k-form.col-container-with-offset-and-margin {
    width: calc(100% + #{$col-horizontal-margin});
    margin-top: calc(-1 * calc(#{$col-vertical-margin} / 2));
    margin-left: calc(-1 * calc(#{$col-horizontal-margin} / 2));
    margin-right: calc(-1 * calc(#{$col-horizontal-margin} / 2));
}

.k-form .full-col-with-margin,
.k-form .one-half-col-with-margin,
.k-form .two-third-col-with-margin,
.k-form .one-third-col-with-margin,
.k-form .one-fourth-col-with-margin,
.k-form .three-fourth-col-with-margin,
.k-form .one-fifths-col-with-margin,
.k-form .four-fifths-col-with-margin {
    flex-grow: 1;
    margin-left: calc(#{$col-horizontal-margin} / 2);
    margin-right: calc(#{$col-horizontal-margin} / 2);
}

.k-form .default-input-button {
    margin-top: $col-vertical-margin;
}

.k-form input[type="file"] {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
