/* ---------------------------------------------- Layout Misc */
section {
    clear: both;
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
}

.container {
    clear: both;
}

.boxed-container {
    width: 100%;
    // max-width: calc(1200px + calc(2rem * 2));
    max-width: calc(#{$boxed-container-max-width} + calc(#{$boxed-container-horizontal-offset} * 2));
    padding-left: $boxed-container-horizontal-offset;
    padding-right: $boxed-container-horizontal-offset;
    margin: 0 auto;
}

.container-vertical-padding-top {
    padding-top: $container-vertical-padding;
}

.container-vertical-padding-bottom {
    padding-bottom: $container-vertical-padding;
}

/* ---------------------------------------------- Columns */

/* Columns Containers */
.col-container {
    // width: calc(100% + calc(2rem * 2));
    width: calc(100% + calc(#{$col-horizontal-padding} * 2));
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    // margin-left: calc(-1 * 2rem);
    margin-left: calc(-1 * #{$col-horizontal-padding});
    // margin-right: calc(-1 * 2rem);
    margin-right: calc(-1 * #{$col-horizontal-padding});
}

.col-container-with-offset {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.col-container-with-offset-and-margin {
    // width: calc(100% + calc(2rem * 2));
    width: calc(100% + calc(#{$col-horizontal-margin} * 2));
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    // margin-left: calc(-1 * 2rem);
    margin-left: calc(-1 * #{$col-horizontal-margin});
    // margin-right: calc(-1 * 2rem);
    margin-right: calc(-1 * #{$col-horizontal-margin});
    transition: margin 0.3s ease-in-out, width 0.3s ease-in-out;
}

.col-container-with-margin {
    // width: calc(100% + calc(#{$col-horizontal-padding} * 2) + calc(2rem * 2));
    width: calc(100% + calc(#{$col-horizontal-padding} * 2) + calc(#{$col-horizontal-margin} * 2));
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    // margin-left: calc(-1 * calc(#{$col-horizontal-padding} + 2rem));
    margin-left: calc(-1 * calc(#{$col-horizontal-padding} + #{$col-horizontal-margin}));
    // margin-right: calc(-1 * calc(#{$col-horizontal-padding} + 2rem));
    margin-right: calc(-1 * calc(#{$col-horizontal-padding} + #{$col-horizontal-margin}));
}


/* Columns */

.col {
    margin-bottom: $col-vertical-margin;
    padding-top: $col-vertical-padding;
    padding-bottom: $col-vertical-padding;
    padding-left: $col-horizontal-padding;
    padding-right: $col-horizontal-padding;
    flex-grow: $col-flex-grow;
}

.full-col {
    width: 100%;
}

.one-half-col {
    width: $one-half-col-width;
}

.two-third-col {
    width: $two-third-col-width;
}

.one-third-col {
    width: $one-third-col-width;
}

.one-fourth-col {
    width: $one-fourth-col-width;
}

.three-fourth-col {
    width: $three-fourth-col-width;
}

.one-fifths-col {
    width: $one-fifths-col-width;
}

.four-fifths-col {
    width: $four-fifths-col-width;
}


/* Columns with margin */

.full-col-with-margin {
    // width: calc(100% - calc(2rem * 2));
    width: calc(100% - calc(#{$col-horizontal-margin} * 2));
    margin-left: $col-horizontal-margin;
    margin-right: $col-horizontal-margin;
}

.one-half-col-with-margin {
    // width: calc(50% - calc(2rem * 2));
    width: calc(#{$one-half-col-width} - calc(#{$col-horizontal-margin} * 2));
    margin-left: $col-horizontal-margin;
    margin-right: $col-horizontal-margin;
}

.two-third-col-with-margin {
    // width: calc(66.66% - calc(2rem * 2));
    width: calc(#{$two-third-col-width} - calc(#{$col-horizontal-margin} * 2));
    margin-left: $col-horizontal-margin;
    margin-right: $col-horizontal-margin;
}

.one-third-col-with-margin {
    // width: calc(33.33% - calc(2rem * 2));
    width: calc(#{$one-third-col-width} - calc(#{$col-horizontal-margin} * 2));
    margin-left: $col-horizontal-margin;
    margin-right: $col-horizontal-margin;
}

.one-fourth-col-with-margin {
    // width: calc(25% - calc(2rem * 2));
    width: calc(#{$one-fourth-col-width} - calc(#{$col-horizontal-margin} * 2));
    margin-left: $col-horizontal-margin;
    margin-right: $col-horizontal-margin;
}

.three-fourth-col-with-margin {
    width: calc(#{$three-fourth-col-width} - calc(#{$col-horizontal-margin} * 2));
    margin-left: $col-horizontal-margin;
    margin-right: $col-horizontal-margin;
}

.one-fifths-col-with-margin {
    width: calc(#{$one-fifths-col-width} - calc(#{$col-horizontal-margin} * 2));
    margin-left: $col-horizontal-margin;
    margin-right: $col-horizontal-margin;
}

.four-fifths-col-with-margin {
    width: calc(#{$four-fifths-col-width} - calc(#{$col-horizontal-margin} * 2));
    margin-left: $col-horizontal-margin;
    margin-right: $col-horizontal-margin;
}

/* ---------------------------------------------- Default Sheet */

.default-sheet-section .col {
    margin-bottom: 0;
}

#product-img-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.default-sheet-img-link,
.default-sheet-img {
    width: 100%;
}

.default-sheet-box {
    padding: $col-vertical-padding 0;
    border-bottom: $main-border;
}

.default-sheet-box:first-child {
    margin-top: 0;
    padding-top: 0;
}

.default-sheet-box:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.default-sheet-row {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.default-sheet-row {
    margin-bottom: $default-sheet-row-margin;
}

.space-between-row {
    justify-content: space-between;
}

.default-sheet-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin-bottom: $default-sheet-row-margin;
}

.default-sheet-row:last-child,
.default-sheet-col:last-child,
#default-sheet-meta .default-sheet-row,
.default-sheet-col p {
    margin-bottom: 0;
}

#default-sheet .default-sheet-row .default-sheet-row-cell:first-child {
    min-width: 12rem;
}

.default-sheet-row-cell {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.default-sheet-row-cell {
    margin-right: 1rem;
}

.default-sheet-row-cell:last-child {
    margin-right: 0;
}

.default-sheet-box form input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: $main-border;
    background-color: transparent;
    padding: unset;
}

.default-sheet-col h4 {
    margin: 0;
}

#default-sheet-category ul,
#default-sheet-category li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

#default-sheet-category li a:after {
    content: ",";
    display: inline-block;
    color: $p-color;
}

#default-sheet-category li:last-child a:after {
    display: none;
}

#title-note {
    justify-content: space-between;
    align-items: flex-end;
}

#title-note .default-sheet-row-cell:last-child {
    text-align: right;
}

#default-sheet-meta {
    padding-top: 0;
}

#default-sheet-meta .default-sheet-row {
    justify-content: space-between;
}

#default-sheet-meta .default-sheet-col {
    justify-content: space-between;
    margin-top: $col-vertical-padding;
    margin-bottom: 0;
}

#default-sheet-meta .default-sheet-col:first-child {
    padding-right: $col-horizontal-padding;
    align-items: flex-start !important;
}

#default-sheet-meta .default-sheet-col:last-child {
    align-items: flex-end;
}

#default-sheet-share {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#default-sheet-share h5 {
    text-align: right;
}

#default-sheet-share a:first-child i {
    padding-left: 0;
}

#default-sheet-share a:last-child i {
    padding-right: 0;
}

#default-sheet-price .default-sheet-row {
    margin: 0;
}

.default-sheet-row i,
.default-sheet-col i,
.icon-container i {
    min-width: 1.6rem;
    margin-right: 0.6rem;
    font-size: 1.6rem;
    text-align: center;
}

.icon-container a:last-child i,
.follow i {
    margin-right: 0;
}

.follow {
    font-size: $p-font-size;
}

#default-sheet-buy .purchase-row {
    margin-top: 2rem;
    text-align: center;
}

.purchase-row .default-sheet-col {
    align-items: center;
    margin-top: 1rem !important;
    margin-right: 1.5rem;
    margin-bottom: 0;
}

.purchase-row .default-sheet-col:last-child {
    margin-right: 0;
}

#default-sheet-buy .purchase-row .default-sheet-row-cell {
    width: 100%;
    min-width: unset;
    text-align: center;
}

#default-sheet-buy .purchase-row .black-button {
    margin-top: 0;
}

#title-note .default-sheet-row-cell.payment-logo:first-child {
    min-width: unset;
}

.payment-logo {
    margin-right: 0;
    margin-bottom: 0.5rem;
    justify-content: center;
}

.payment-logo img {
    max-height: 4.5rem;
}

.payment-logo i {
    font-size: 2rem;
    line-height: 100%;
}
