/* Header */
#main-header {
    position: relative;
    z-index: 99;
}

/* Upper Header */
#upper-header {
    background-color: $upper-header-bg;
}

#upper-header .col-container-with-offset {
    justify-content: space-between;
}

.upper-header-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: calc(#{$col-horizontal-padding} / 2) #{$col-horizontal-padding} calc(#{$col-horizontal-padding} / 2) 0;
}

.upper-header-col:last-child {
    padding-right: 0;
}

#main-header .upper-header-col:last-child .default-sheet-row {
    justify-content: flex-end;
    text-align: right;
}

#main-header .default-sheet-row {
    width: 100%;
    margin-bottom: $default-sheet-row-margin;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#main-header .default-sheet-row:last-child {
    margin-bottom: 0;
}

#upper-header-data {
    flex-direction: column;
    padding: $col-horizontal-padding 0;
}

#main-header .default-sheet-row h1,
#main-header .default-sheet-row h2,
#main-header .default-sheet-row h3,
#main-header .default-sheet-row h4,
#main-header .default-sheet-row h5,
#main-header .default-sheet-row h6 {
    margin: 0;
}

#header-social-row {
    justify-content: space-between !important;
}

#big-logo-container img {
    height: $big-logo-height;
    width: auto;
}

#small-logo-container {
    width: 100%;
    text-align: center;
}

#small-logo-container img {
    margin: $small-logo-margin 0;
    max-height: $small-logo-height;
}

// Cart icon Desktop/Mobile variations
#main-nav-cart-logged,
#main-nav-cart-unlogged {
    //background: red !important;
    @media (max-width: 767px) {
        //background: orange !important;
    }
}
#mobile-nav-cart-logged,
#mobile-nav-cart-unlogged {
    //background: blue !important;
    //display: block !important;
    //@media (max-width: 767px) {
    //    background: aquamarine !important;
    //}
    & .notification-icon {
        font-size: 24px;
        display: block;
        color: black;
        height: 100%;
        position: relative;
        top: 0;
        margin: 0;
        width: 2em;
        height: 2em;
        text-align: center;
        padding: 0;
        line-height: 2;
    }
}