// lab villa
.glut-nav ul {
    display: inherit;
    margin: 0;
    padding: 0;
}

.glut-nav li {
    display: inherit;
    margin: 0;
    padding: 0;
    list-style: none;
}

.glut-nav a {
    color: $glut-nav-link-color;
}

.glut-nav a:hover {
    color: $glut-nav-link-color-hover;
}

/* Main Navbar */
#main-navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    transition: width 0.1s ease-in-out, margin-left 0.1s ease-in-out, margin-right 0.1s ease-in-out;
}

#main-navbar.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    margin-top: $sticky-nav-offset-y;
    margin-left: $sticky-nav-offset-x;
    margin-right: $sticky-nav-offset-x;
    z-index: 99;
}

#main-nav a {
    display: inline-block;
    padding-left: $main-menu-link-horizontal-padding;
    padding-right: $main-menu-link-horizontal-padding;
    padding-top: $main-menu-link-vertical-padding;
    padding-bottom: $main-menu-link-vertical-padding;
    white-space: nowrap;
    font-family: $title-font;
    font-size: $main-menu-font-size;
    font-weight: bold;
    text-transform: uppercase;
    color: $title-color;
    align-self: stretch;
    flex-grow: 1;
}

#main-nav a:hover,
#main-nav a:focus,
.current-menu-item a {
    color: $main-color !important;
}

#main-nav ul>li {
    position: relative;
    align-self: stretch;
    flex-grow: 1;
    width: 100%;
}

#nav-container {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#main-nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#main-menu,
#account-menu {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-self: stretch;
    margin-left: calc(-1 * #{$main-menu-link-horizontal-padding});
}

#account-menu {
    margin-right: calc(-1 * #{$main-menu-link-horizontal-padding});
}

#main-menu ul,
#account-menu ul {
    display: flex;
    align-self: stretch;
}

.notification-box,
#cart-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    justify-content: flex-end;
}

.notification-box i,
#cart-icon i {
    line-height: inherit;
}

#account-menu a:hover,
#account-menu a:focus {
    color: $secondary-link-color !important;
}

.child-arrow:after {
    content: "\f078";
    display: inline-block;
    margin-left: 0.5rem;
    font-family: FontAwesome;
    font-size: 1rem;
    line-height: inherit;
    vertical-align: middle;
}

#main-menu {
    margin-left: calc(-1 * #{$main-menu-link-horizontal-padding});
    flex-grow: 1;
}

/* Sub Menu */
#main-nav li ul {
    display: none;
    position: absolute;
    min-width: 100%;
    margin: 0;
    top: 100%;
    background-color: #fff;
    transition: max-height 0.6s ease-in-out;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    z-index: 99;
}

#main-nav li ul.show {
    display: block;
}

#main-nav li ul li,
#main-nav li ul li a {
    width: 100%;
}


/* Mobile Header */
#mobile-nav {
    width: auto;
    display: none;
}

#mobile-icon {
    cursor: pointer;
    display: none;
    color: $title-color;
    padding: 0 5px;
}

/* ---------------------------------------------- Secondary Menu */
#header-secondary-menu {
    text-align: center;
    border-top: $main-border;
    border-bottom: $main-border;
}

#header-secondary-menu a {
    padding: 0.5rem;
}

#header-secondary-menu a.active {
    color: #000;
}

/* ==========================================================================
Menu
========================================================================== */

.sub-menu-toggler {
    display: none;
}

// mobile menu
@media (max-width: $screen-sm-max) {
    .has-sub-menu ul {
        height: 0;
        overflow: hidden;
    }
    .has-sub-menu.sub-menu-active ul {
        height: auto;
    }
    .sub-menu-toggler {
        position: relative;
        display: inline-block;
        position: relative;
        margin-right: 4px;
    }
}

@media (max-width: $screen-sm-max) {
    .notification-box {
        //display: block !important;
        & .notification-text {
            display: inline-block;
        }
    }

}