/* ---------------------------------------------- Page Header */

#page-header {
    margin: 3rem 0;
}

#page-header .col-container-with-offset {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#page-header .default-sheet-row {
    width: unset;
    align-items: center;
}

#page-header h1 {
    margin: 0;
}

.page-header-filter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.page-header-filter .default-sheet-row-cell {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    align-items: center;
}

.page-header-filter .default-sheet-row-cell:first-child {
    margin-left: 0;
}

.page-header-filter select {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1rem;
}

.page-header-link {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 2rem;
}

.page-header-link:last-child {
    margin-right: 0;
}

.title-wrap {
    max-width: 76.8rem;
}


/* ---------------------------------------------- Inner Title */

.inner-title {
    max-width: 76.8rem;
    margin: 0;
    padding-top: $slider-vertical-padding;
    padding-bottom: $slider-vertical-padding;
}

.inner-title-alternative {
    max-width: 76.8rem;
    margin: 0;
    padding-top: $slider-vertical-padding;
    font-size: 3.5rem;
    display: block;
    font-family: $title-font;
    font-weight: $title-font-weight;
    line-height: $title-line-height;
    color: $title-color;
}


/* ---------------------------------------------- Img Banner Title */

.img-banner-title {
    min-height: 30rem;
    padding: $col-horizontal-padding;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-banner-title:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
    z-index: 1;
}

.img-banner-title-txt {
    text-align: center;
    z-index: 2;
}

.img-banner-title-txt h2 {
    color: #fff;
    font-size: 3rem;
    font-weight: normal;
}


/* ---------------------------------------------- Pages */

.generic-logo {
    height: $generic-logo-size;
}

.cit {
    margin-bottom: $default-sheet-row-margin !important;
}

#event-adress h4 {
    margin: 0;
    color: $p-color;
    font-weight: normal;
}

img {
    max-width: 100%;
    height: auto;
}

.header-img,
.header-img img {
    width: 100%;
}

blockquote {
    position: relative;
    margin-top: $container-vertical-padding;
    margin-bottom: $container-vertical-padding;
    margin-left: 0;
    margin-right: 0;
    padding-left: 4rem;
}

blockquote:before {
    content: "";
    position: absolute;
    width: 0.5rem;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $main-color;
}

#page-content {
    min-height: 60vh;
}

#page-sidebar {
    display: $page-sidebar-display;
}


/*------------------- Gallery News */

#gallery-news-archive {
    background-color: #eee;
}

.gallery-news-item {
    margin-bottom: calc(#{$col-vertical-margin} * 2);
    display: flex;
    background-color: #fff;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

.gallery-news-item-img>a {
    display: inline-block;
    width: 20rem;
    margin-right: 2rem;
}

.gallery-news-item-txt {
    width: calc(100% - 22rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.no-margin {
    margin: 0;
}


/* ---------------------------------------------- Blog */

#page-header.col {
    padding-top: 0;
    padding-bottom: 0;
}

.news-featured-image {
    width: 40%;
    float: left;
    margin-right: 2.5rem;
    margin-bottom: 1.5rem;
}


/* ---------------------------------------------- Preview Sections */

.preview-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.preview-title h1 {
    margin-bottom: 1rem;
}

.preview-section .icon-container {
    margin: 0.5rem 0;
}

.preview-section .default-sheet-row .default-sheet-row-cell:first-child {
    margin-right: 1rem;
}

.preview-txt-col {
    flex-grow: 1;
}

/* ---------------------------------------------- Icon Box Container */

.icon-box-item.slider-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.icon-box-item .slider-item-txt {
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: $col-vertical-margin;
    text-align: center;
}

.icon-round-container {
    height: 6rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 0.1rem solid $main-color;
}

.icon-round-container i {
    font-size: 2rem;
    line-height: 100%;
    color: $main-color;
}

.center-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.icon-box-horizontal-item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding-top: calc(#{$col-horizontal-margin} * 2);
    padding-bottom: calc(#{$col-horizontal-margin} * 2);
}

.icon-box-horizontal-item-img {
    margin-right: $col-horizontal-margin;
}

.icon-box-horizontal-item-txt {
    margin-bottom: 0;
    width: 80%;
}

.icon-box-horizontal-item-txt p {
    margin: 0;
}

.icon-box-horizontal-item-txt h2 {
    margin-bottom: 0;
    font-size: $h4-font-size;
    line-height: $h4-line-height;
}


/* ---------------------------------------------- K-Experience */

.default-slider-section.experience .col-container-with-offset-and-margin {
    width: calc(100% + calc(#{$col-horizontal-margin-experience} * 2));
    margin-left: calc(-1 * #{$col-horizontal-margin-experience});
    margin-right: calc(-1 * #{$col-horizontal-margin-experience});
    display: flex;
    flex-wrap: wrap;
}

#archive .slider-item.experience,
#gallery-slider .slider-item.experience,
#event-slider .slider-item.experience,
#my-galleries-slider .slider-item.experience,
#icon-box-container .slider-item.experience {
    margin: #{$col-horizontal-margin-experience};
    width: calc(#{$one-third-col-width} - calc(#{$col-horizontal-margin-experience} * 2));
}

#product-slider .slider-item.experience,
#artist-slider .slider-item.experience,
.default-slider-section.experience .slider-title-box {
    margin: #{$col-horizontal-margin-experience};
    width: calc(#{$one-fourth-col-width} - calc(#{$col-horizontal-margin-experience} * 2));
}

#recent-viewed-slider .slider-item.experience,
#represented-artists-slider .slider-item.experience {
    margin: #{$col-horizontal-margin-experience};
    width: calc(#{$one-fifths-col-width} - calc(#{$col-horizontal-margin-experience} * 2));
}

.artworks-page #product-masonry.experience .product-masonry-container {
    column-count: 4;
}

#product-masonry .product-masonry-container .slider-item.experience {
    margin-top: 0;
    margin-bottom: calc(#{$col-horizontal-margin} * 1.5);
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}


/* ---------------------------------------------- Hiding Box Header */

.hiding-box-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: calc(#{$col-vertical-margin} / 2);
    cursor: pointer;
}

.hiding-box-header h1,
.hiding-box-header h2,
.hiding-box-header h3,
.hiding-box-header h4,
.hiding-box-header h5,
.hiding-box-header h6 {
    margin: 0 !important;
    padding: 0 !important;
}

.hiding-box-trigger {
    padding: 0.6rem;
    margin-right: -0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 100%;
    cursor: pointer;
}

.hiding-box-trigger:before {
    content: "\f00d";
    font-family: FontAwesome;
    color: $secondary-link-color;
}

.hiding-box-trigger.show:before {
    content: "\f078";
    font-family: FontAwesome;
    color: $title-color;
}

.hiding-box-header+div {
    display: block;
}

.hiding-box-header+div.show {
    display: none;
}


/* ---------------------------------------------- Archive */

#archive .container {
    overflow: hidden;
}

#archive-col {
    margin-bottom: 0;
}

#archive-header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $col-vertical-padding;
    padding-bottom: $col-vertical-padding;
    border-bottom: $main-border;
}

#archive-header .default-sheet-row {
    justify-content: space-between;
    align-items: center;
}

#archive-header .default-sheet-row-cell {
    justify-content: space-between;
    align-items: center;
}

#archive-header h3 {
    margin: 0;
}

#archive-header select {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1rem;
}


/* Category Filter */

#category-filter {
    margin-bottom: $col-vertical-padding;
    border-bottom: $main-border;
}

#category-filter .hiding-box-header h3 {
    padding-bottom: $col-vertical-padding;
}

.category-filter-container {
    padding-bottom: $col-vertical-padding;
    width: calc(100% + 1rem);
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    display: flex;
    flex-wrap: wrap;
}

.category-filter-item {
    position: relative;
    width: calc(#{$one-fifths-col-width} - 1rem);
    margin: 0.5rem;
    overflow: hidden;
}

.category-filter-item-img:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: opacity 0.3s ease-in-out, background-color 0.2s ease-in-out;
}

.category-filter-item:hover .category-filter-item-img:before {
    background-color: $main-color;
}

.category-filter-item.active,
.category-filter-item.active .category-filter-item-img:before {
    background-color: $main-color!important;
}

.category-filter-item-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-filter-item-img h4 {
    margin: 0;
    text-align: center;
    color: #fff;
    transform: translateY(0%);
    opacity: 1;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}


/* ---------------------------------------------- Masonry */
#masonry {
    position: relative;
    background-color: #eee;
}

.masonry-container {
    position: relative;
    column-count: 3;
    column-gap: calc(#{$col-horizontal-margin} * 1.5);
}

.masonry-item {
    position: relative;
    margin-top: 0;
    break-inside: avoid-column;
    width: 100%;
    margin-bottom: calc(#{$col-horizontal-margin} * 1.5);
    background-color: #fff;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.masonry-item-img-link {
    display: inline-block;
    width: 100%;
}

.masonry-item img {
    width: 100%;
    height: auto;
}

.masonry-item-txt {
    width: 100%;
    padding: $col-vertical-padding;
}

.masonry-item-txt h2,
.masonry-item-txt p,
.featured-news-item-txt h2 {
    margin: 0;
}


/* ---------------------------------------------- Artwork Masonry */
.artist-archive .product-masonry-container .slider-item .artist-name {
    display: none;
}

.product-masonry-container {
    column-count: 4;
    column-gap: calc(#{$col-horizontal-margin} * 1.5);
}

.artworks-page .product-masonry-container {
    column-count: 3;
    column-gap: calc(#{$col-horizontal-margin} * 1.5);
}

.product-masonry-container .slider-item {
    margin-top: 0;
    margin-bottom: calc(#{$col-horizontal-margin} * 1.5);
    break-inside: avoid-column;
}


/* ---------------------------------------------- News */

#featured-news {
    padding-top: $slider-vertical-padding;
    padding-bottom: $slider-vertical-padding;
}

#featured-image img {
    width: 100%;
    height: auto;
}

#news-container .col {
    margin-bottom: 0;
}

.news-content {
    margin-bottom: $col-vertical-margin;
}

.drop-caps {
    float: left;
    font-size: 9rem;
    line-height: 6rem;
    padding-top: 0.4rem;
    padding-right: 0.8rem;
    padding-left: 0.3rem;
}

.featured-news-item-txt {
    margin-top: $col-vertical-margin;
    margin-bottom: $col-vertical-margin;
}


/* ==========================================================================
Static Pages
========================================================================== */

.accordion-button {
    cursor: pointer;
}

.accordion-box {
    display: block;
    position: relative;
    width: 100%;
}

.accordion-content {
    display: block;
    position: relative;
    height: auto;
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: all .4s ease !important;
    -moz-transition: all .4s ease !important;
    -o-transition: all .4s ease !important;
    transition: all .4s ease !important;
}

.accordion-content.active {
    max-height: 2000px;
}
