/* ---------------------------------------------- Sidebar */

#news-sidebar {
    display: $news-sidebar-display;
}

.sidebar {
    transition: all 0.3s ease-in-out;
    transition-delay: 0.4s;
    overflow: hidden;
}

#archive-sidebar.experience {
    margin-right: -50%;
}

.sidebar .widget {
    border-bottom: $main-border;
}

.widget {
    width: 100%;
    margin-bottom: calc(#{$col-vertical-margin} / 2);
    overflow: unset;
}

.widget-container {
    padding-bottom: $col-vertical-padding;
}

.widget ul {
    margin: 0;
    padding: 0;
}

.widget li ul {
    padding-left: 2rem;
}

.widget li {
    list-style: none;
}

.widget .default-sheet-row {
    margin-bottom: $default-sheet-row-margin;
    align-items: center;
}

.widget input[type="search"] {
    margin-bottom: 0;
    flex-grow: 1;
}

.widget-mask {
    max-height: 15rem;
    -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 70%, transparent 100%);
    mask-image: linear-gradient(rgba(0, 0, 0, 0.6) 70%, transparent 100%);
    overflow: hidden;
}

.widget-mask.show {
    max-height: unset;
    -webkit-mask-image: unset;
    mask-image: unset;
}

.tagcloud a:after {
    content: ",";
    display: inline-block;
    color: $p-color;
}

.tagcloud a:last-child:after {
    display: none;
}

#news-sidebar .widget:last-child {
    border-bottom: none;
}
