<div class="masonry-item grid-item">
    <a class="masonry-item-img-link" title="{{ name }}" href="{{ url }}">
        <img src="{{ image }}">
    </a>
    <div class="masonry-item-txt">
        <p class="news-date">{{ date }}</p>
        <div class="default-sheet-row">
            <h2>
                <a title="{{ name }}" class="dark-text" href="{{ url }}">{{ name }}</a>
            </h2>
        </div>
    </div>
</div>
