<div class="slider-item one-third-col-with-margin">
    <div class="slider-item-img wide-box">
        <a href="{{ url }}">
            <div class="background-cover gallery" style="background-image: url({{ image }})"></div>
        </a>
    </div>
    <div class="featured-news-item-txt">
        <p class="news-date">{{ date }}</p>
        <div class="default-sheet-row">
            <h2>
                <a class="dark-text" href="{{ url }}">{{ name }}</a>
            </h2>
        </div>
    </div>
</div>